{% extends "home/doctorHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
    <script>
      $(document).ready(function(){
        $('.modal').modal();
        $(document).ajaxStart(function () {
                $("#loading").show();
            }).ajaxStop(function () {
                $("#loading").hide();
            });
      });
    </script>
    <title> OPHM - History of Records</title>
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
<div class="col s12 m12 l12 center white">
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6">
                    <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">list</i>&nbsp;&nbsp; History of Records</h3>
                    Medical history and past recorded vitals of <b>{{ patient.userid.auth_user_id.first_name }} {{ patient.userid.auth_user_id.last_name }}</b>.
                </div>
                <div class="col s3"></div>
            </div>
            <div class="divider"></div>

        </div>
            <div class="white" style="padding: 0px 20px 0px 30px">
                <div class="row center">
                    <div class="col s6">
                        <H5>Search for:</H5><br/>
                        <p>
                          <label>
                          {% if access_medicalforms is not None %}
                              {% if access_medicalforms == 1 %}
                                  <input class="with-gap" name="searchFor" value="0" type="radio"  disabled/>
                                  <span>Medical Forms</span>
                              {% else %}
                                  <input class="with-gap" name="searchFor" value="0" type="radio"  />
                                  <span>Medical Forms</span>
                              {% endif %}
                          {% else %}
                              {% if patient.restrictmedicalinformationaccess == 1 %}
                                  <input class="with-gap" name="searchFor" value="0" type="radio"  disabled/>
                                  <span>Medical Forms</span>
                              {% else %}
                                  <input class="with-gap" name="searchFor" value="0" type="radio"  />
                                  <span>Medical Forms</span>
                              {% endif %}
                          {% endif %}
                          </label>&nbsp;&nbsp;&nbsp;
                          <label>
                          {% if access_vitalrecords is not None %}
                              {% if access_vitalrecords == 1 %}
                                  <input class="with-gap" name="searchFor" value="0" type="radio"  disabled/>
                                  <span>Past Vital Records</span>
                              {% else %}
                                  <input class="with-gap" name="searchFor" value="0" type="radio"  />
                                  <span>Past Vital Records</span>
                              {% endif %}
                          {% else %}
                              {% if patient.restrictvitalsinformationaccess == 1 %}
                                  <input class="with-gap" name="searchFor" value="1" type="radio"  disabled/>
                                  <span>Past Vital Records</span>
                              {% else %}
                                  <input class="with-gap" name="searchFor" value="1" type="radio"  />
                                  <span>Past Vital Records</span>
                              {% endif %}
                          {% endif %}
                          </label>
                          <label>
                          {% if access_medicalforms is not None and access_vitalrecords is not None %}
                              {% if access_medicalforms == 1 or access_vitalrecords == 1 %}
                                  <input class="with-gap" name="searchFor" value="2" type="radio"  disabled/>
                                  <span>All</span>
                              {% else %}
                                  <input class="with-gap" name="searchFor" value="2" type="radio"  />
                                  <span>All</span>
                              {% endif %}
                          {% else %}
                              {% if patient.restrictvitalsinformationaccess == 1 or patient.restrictmedicalinformationaccess == 1 %}
                                  <input class="with-gap" name="searchFor" value="2" type="radio"  disabled/>
                                  <span>All</span>
                              {% else %}
                                  <input class="with-gap" name="searchFor" value="2" type="radio"  />
                                  <span>All</span>
                              {% endif %}
                          {% endif %}
                          </label>
                        </p>
                    </div>
                    <div class ="col s6">
                        <H5>Search by:</H5>
                        <div id="selectDateMonthYear">
                            <br />
                            <div class="col s3"></div>
                            <select class="browser-default center col s12 m6 l6" id="typeofSearch">
                                <option value="" disabled selected>Choose by Date or Month and Year</option>
                                <option value="date">Search by date</option>
                                <option value="month">Search by month and year</option>
                                <!--<option value="year">Search by year</option>-->
                            </select>
                            <div class="col s3"></div>
                        </div>
                    </div>
                </div>

                <div class="row center">
                    <div id="date" class="optionx date" style="display: none;">
                        <h5>Search by Date</h5>
                        <label>
                            <input id = "day" type="date" style="width:35%;" class="dateonly">
                            <br /><span>Enter Date</span>
                        </label>
                    </div>
                    <div id="month" class="optionx month" style="display: none;">
                        <h5>Search by Month and Year</h5>
                        <label>
                            <input id = "monthandyear" type="month" style="width:35%; height:8%;">
                            <br /><span>Enter Date</span>
                        </label>
                    </div>
                </div>
                <div class='row center'>
                        {% if access_medicalforms is not None and access_vitalrecords is not None %}
                              {% if access_medicalforms == 1 or access_vitalrecords == 1 %}
                                  <button id="search" type='submit' name='btn_login' class='btn btn-large waves-effect' disabled>Search</button>
                              {% else %}
                                  <button id="search" type='submit' name='btn_login' class='btn btn-large waves-effect'>Search</button>
                              {% endif %}
                          {% else %}
                              {% if patient.restrictvitalsinformationaccess == 1 and patient.restrictmedicalinformationaccess == 1 %}
                                  <button id="search" type='submit' name='btn_login' class='btn btn-large waves-effect' disabled>Search</button>
                              {% else %}
                                  <button id="search" type='submit' name='btn_login' class='btn btn-large waves-effect'>Search</button>
                              {% endif %}
                          {% endif %}
                </div>
                <div class="section"></div>
            </div>

    <div class="divider"></div>
    <br>
    <div class="col s12 white" style="display: block;">
    <center><div id="loading" style="display: none">Loading</div></center>
            <div class ="row">
            {% if access_medicalforms is not None %}
                  {% if access_medicalforms == 1 %}
                      <div id="restriction" class="col s6" style="padding: 0px 30px 0px 30px">
                        <center><b class="teal-text text-darken-2"><big><big>Access to medical forms restricted by the patient</big></big></b></center>
                      </div>
                  {% else %}
                      <div id="medicalForms">
                        <div class="col s6" style="padding: 0px 30px 0px 30px">
                            <center><b class="teal-text text-darken-2"><big><big>Medical Forms</big></big></b></center>
                            <br />
                            <table class="striped">
                            {% if patient_medical_history_list.count == 0 %}
                                <tr><th>No existing medical forms!</th></tr>
                            {% else %}
                                {% for patient_medical_history in patient_medical_history_list.reverse %}
                                    <tr>
                                        <th>{{ patient_medical_history.date|date:"F d, Y" }}</th>
                                        <td style="padding-right:3%;"><a href="{% url 'otherpatientmedicalrecord' patient.patientid access_medicalforms access_vitalrecords patient_medical_history.patient_medical_historyid %}" class="waves-effect waves-light btn right"><i class="material-icons left">pageview</i>View</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </table>
                        </div>
                      </div>
                  {% endif %}
            {% else %}
                  {% if patient.restrictmedicalinformationaccess == 1 %}
                        <div id="restriction" class="col s6" style="padding: 0px 30px 0px 30px">
                            <center><b class="teal-text text-darken-2"><big><big>Access to medical forms restricted by the patient</big></big></b></center>
                        </div>
                    {% else %}
                        <div id="medicalForms">
                            <div class="col s6" style="padding: 0px 30px 0px 30px">
                                <center><b class="teal-text text-darken-2"><big><big>Medical Forms</big></big></b></center>
                                <br />
                                <table class="striped">
                                {% if patient_medical_history_list.count == 0 %}
                                    <tr><th>No existing medical forms!</th></tr>
                                {% else %}
                                    {% for patient_medical_history in patient_medical_history_list.reverse %}
                                        <tr>
                                            <th>{{ patient_medical_history.date|date:"F d, Y" }}</th>
                                            <td style="padding-right:3%;"><a href="{% url 'assignedpatientrecordsmedicalhistory' patient.patientid patient_medical_history.patient_medical_historyid %}" class="waves-effect waves-light btn right"><i class="material-icons left">pageview</i>View</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
                            </div>
                        </div>
                  {% endif %}
            {% endif %}

            {% if access_vitalrecords is not None %}
                  {% if access_vitalrecords == 1 %}
                      <div id="restriction" class="col s6" style="padding: 0px 30px 0px 30px">
                          <center><b class="teal-text text-darken-2"><big><big>Access to vitals records restricted by the patient</big></big></b></center>
                      </div>
                  {% else %}
                      <div id="vitalRecords">
                            <div class="col s6" style="padding: 0px 30px 0px 30px">
                                <center><b class="teal-text text-darken-2"><big><big>Vitals Records</big></big></b></center>
                                <br />
                                <table class="striped">
                                {% if vitals_dates_list_size == 0 %}
                                    <tr><th>No existing vital records!</th></tr>
                                {% else %}
                                    {% for patientdeviceid_dates in vitals_patientdeviceid_dates_list %}
                                        <tr>
                                            <th>{{ patientdeviceid_dates.date|date:"F d, Y" }}</th>
                                            <td style="padding-right:3%;">
                                                <a href="{% url 'otherpatientvitalrecord' patient.patientid access_medicalforms access_vitalrecords patientdeviceid_dates.patientdeviceid patientdeviceid_dates.date|date:"Y-m-d" %}" class="waves-effect waves-light btn-small right" style="margin-right: 2%;"><i class="material-icons left">pageview</i>View</a>
                                                <button value="{{ patientdeviceid_dates.patientdeviceid }} {{ patientdeviceid_dates.date|date:"Y-m-d" }}" class="center waves-effect waves-light btn-small detailButton right" style="margin-right: 2%;">Summary</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
                            </div>
                      </div>
                  {% endif %}
            {% else %}
                  {% if patient.restrictvitalsinformationaccess == 1 %}
                        <div id="restriction" class="col s6" style="padding: 0px 30px 0px 30px">
                            <center><b class="teal-text text-darken-2"><big><big>Access to vitals records restricted by the patient</big></big></b></center>
                        </div>
                  {% else %}
                         <div id="vitalRecords">
                            <div class="col s6" style="padding: 0px 30px 0px 30px">
                                <center><b class="teal-text text-darken-2"><big><big>Vitals Records</big></big></b></center>
                                <br />
                                <table class="striped">
                                {% if vitals_dates_list_size == 0 %}
                                    <tr><th>No existing vital records!</th></tr>
                                {% else %}
                                    {% for patientdeviceid_dates in vitals_patientdeviceid_dates_list %}
                                        <tr>
                                            <th>{{ patientdeviceid_dates.date|date:"F d, Y" }}</th>
                                            <td style="padding-right:3%;">
                                                <a href="{% url 'assignedpatientrecordsvitalrecords' patientdeviceid_dates.patientdeviceid patientdeviceid_dates.date|date:"Y-m-d" %}" class="waves-effect waves-light btn-small right" style="margin-right: 2%;"><i class="material-icons left">pageview</i>View</a>
                                                <button value="{{ patientdeviceid_dates.patientdeviceid }} {{ patientdeviceid_dates.date|date:"Y-m-d" }}" class="center waves-effect waves-light btn-small detailButton right" style="margin-right: 2%;">Summary</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
                            </div>
                        </div>
                  {% endif %}
            {% endif %}
            </div>
        <div class="divider"></div>
        <div class="align-left" style="padding: 2%">
            <a href="{% url 'viewassignedpatients' %}" class="waves-effect waves-light btn"><i class="material-icons left">keyboard_backspace</i>go back</a>
        </div>

        </div>

<div id="modal1" class="modal">
            <div class="modal-content">
                <h4><i class="small material-icons left">list_alt</i><b>Summary of Vitals</b></h4>

                <table>

                    <tr>
                        <th>Date: </th>
                        <td id="dateModal">February 28, 2019</td>
                    </tr>

                    <tr>
                        <th>Name: </th>
                        <td id="name">Tommy Botabara</td>
                    </tr>

                    <tr>
                        <th>Device: </th>
                        <td id="device">1</td>
                    </tr>

                    <tr>
                        <th>Min Temperature: </th>
                        <td id="minTemperature">37°C</td>
                    </tr>

                    <tr>
                        <th>Max Temperature: </th>
                        <td id="maxTemperature">37°C</td>
                    </tr>

                    <tr>
                        <th>Min Heart Rate: </th>
                        <td id="minHeartRate">37°C</td>
                    </tr>

                    <tr>
                        <th>Max Heart Rate: </th>
                        <td id="maxHeartRate">37°C</td>
                    </tr>

                    <tr>
                        <th>Average Temperature: </th>
                        <td id="averageTemperature">37°C</td>
                    </tr>

                    <tr>
                        <th>Average Heart Rate: </th>
                        <td id="averageHeartRate">75.5</td>
                    </tr>

                    <tr>
                        <th>Last Recording Time: </th>
                        <td id="lastRecordingTime">36.5°C</td>
                    </tr>

                    <tr>
                        <th>Last Recorded Temperature: </th>
                        <td id="lastRecordedTemperature">36.5°C</td>
                    </tr>

                    <tr>
                        <th>Last Recorded Heart Rate: </th>
                        <td id="lastRecordedHeartRate">72</td>
                    </tr>

                    <tr>
                        <th>Times Recorded: </th>
                        <td id="count">Ayun</td>
                    </tr>


                </table>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect  waves-green btn-flat">CLOSE</a>
            </div>
 </div>

    <script>
        $(function() {
          $('#typeofSearch').change(function(){
            $('.optionx').hide();
            $('#' + $(this).val()).show();
          });
        });

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

     $("#vitalRecords").on("click",".detailButton", function() {
        var data = this.value.split(" ");
        var patientDeviceID = data[0];
        var date = data[1];

        $.ajax({
            url: '{% url 'summary' %}',
            data: {
              'patientDeviceID': patientDeviceID,
              'date': date
            },
            dataType: 'json',
            success: function (data) {
                $("#dateModal").html(data[0].date);
                $("#name").html(data[0].name);
                $("#device").html(data[0].device);
                $("#minTemperature").html(Math.round(parseFloat(data[0].min_temperature) * 100) / 100 + "°C (" + data[0].min_temperature_time + ")");
                $("#maxTemperature").html(Math.round(parseFloat(data[0].max_temperature) * 100) / 100 + "°C (" + data[0].max_temperature_time + ")");
                $("#minHeartRate").html(Math.round(parseFloat(data[0].min_heartrate) * 100) / 100 + " BPM (" + data[0].min_heartrate_time + ")");
                $("#maxHeartRate").html(Math.round(parseFloat(data[0].max_heartrate) * 100) / 100 + " BPM (" + data[0].max_heartrate_time + ")");
                $("#averageTemperature").html(Math.round(parseFloat(data[0].average_temperature.data__avg) * 100) / 100 + "°C");
                $("#averageHeartRate").html(Math.round(parseFloat(data[0].average_heartrate) * 100) / 100 + " BPM");
                $("#lastRecordingTime").html(data[0].last_recorded_time);
                $("#lastRecordedTemperature").html(data[0].latest_temperature + "°C");
                $("#lastRecordedHeartRate").html(data[0].latest_heartrate + " BPM");
                $("#count").html(data[0].batch_count);
                $('.modal').modal('open');
            }
        });
     });

    $("#search").click(function () {
        var searchBy = $('#typeofSearch').val();
        var searchFor = $('input[name=searchFor]:checked').val();
        var date = "";
        var patientID = {{ patient.patientid }};

        if(searchBy == "date"){
            date = $('#day').val();
        }
        else{
            date = $('#monthandyear').val();
        }

        $("#restriction").remove();

        if(searchFor == null)
            alert("Choose what to search for!");
        else if(searchBy == null)
            alert("Choose how to search by!");
        else if(date == "")
            alert("Enter a date!");


        $.ajax({
        url: '{% url 'get_records' %}',
        data: {
            'searchBy': searchBy,
            'searchFor': searchFor,
            'date': date,
            'patientID': patientID
        },
        dataType: 'json',
        success: function (data) {
            var medicalForms = "";
            var vitalRecords = "";

            if(searchFor == 2){
                medicalForms += "<div class=\"col s6\" style=\"padding: 0px 30px 0px 30px\">\n" +
                    "                    <center><b class=\"teal-text text-darken-2\"><big><big>Medical Forms</big></big></b></center>\n" +
                    "                    <br />\n" +
                    "                    <table class=\"striped\">\n";

                vitalRecords += "<div class=\"col s6\" style=\"padding: 0px 30px 0px 30px\">\n" +
                    "                    <center><b class=\"teal-text text-darken-2\"><big><big>Vitals Records\n</big></big></b></center>\n" +
                    "                    <br />\n" +
                    "                    <table class=\"striped\">\n";


            }
            else if(searchFor == 1){
                medicalForms += "<div class=\"col s6\" style=\"padding: 0px 30px 0px 30px; display: none\">\n" +
                    "                    <center><b class=\"teal-text text-darken-2\"><big><big>Medical Forms</big></big></b></center>\n" +
                    "                    <br />\n" +
                    "                    <table class=\"striped\">\n";

                vitalRecords += "<div class=\"col s12\" style=\"padding: 0px 30px 0px 30px\">\n" +
                    "                    <center><b class=\"teal-text text-darken-2\"><big><big>Vital Records\n</big></big></b></center>\n" +
                    "                    <br />\n" +
                    "                    <table class=\"striped\">\n";
            }
            else{
                medicalForms += "<div class=\"col s12\" style=\"padding: 0px 30px 0px 30px\">\n" +
                    "                    <center><b class=\"teal-text text-darken-2\"><big><big>Medical Forms</big></big></b></center>\n" +
                    "                    <br />\n" +
                    "                    <table class=\"striped\">\n";

                vitalRecords += "<div class=\"col s6\" style=\"padding: 0px 30px 0px 30px; display: none\">\n" +
                    "                    <center><b class=\"teal-text text-darken-2\"><big><big>Vitals Records\n</big></big></b></center>\n" +
                    "                    <br />\n" +
                    "                    <table class=\"striped\">\n";
            }

            for(var i = 0; i < data.length; i++){
                    if(data[i].recordtype == 1){
                        let link = "";
                        {% if access_medicalforms == 0 %}
                            link = '/viewassignedpatients/{{ patient.patientid }}{{ access_medicalforms }}{{access_vitalrecords }}/records/medicalform/'+data[i].data;
                        {% else %}
                            link = '/viewassignedpatients/{{ patient.patientid }}/records/'+data[i].data+'/medicalform';
                        {% endif %}
                        if(data[i].date == "No past medical forms from this date!")
                            medicalForms += "<tr><th>No past medical forms from this date!</th></tr>";
                        else{
                            medicalForms += "<tr>";
                            medicalForms += "<th>"+ data[i].date +"</th>\n";
                            medicalForms += "<td style=\"padding-right:3%;\"><a href="+link+" class=\"waves-effect waves-light btn right\"><i class=\"material-icons left\">pageview</i>View</a></td>\n";
                            medicalForms += "</tr>";
                        }
                    }
                    else{
                        let link = "";
                        {% if access_vitalrecords == 0 %}
                            link = '/viewassignedpatients/{{ patient.patientid }}{{ access_medicalforms }}{{access_vitalrecords }}/records/vitalrecord/'+data[i].patientdeviceid+'/'+data[i].data;
                        {% else %}
                            link = '/viewassignedpatients/'+data[i].patientdeviceid+'/records/'+data[i].data+'/vitalrecords';
                        {% endif %}
                        if(data[i].date == "No past vital records from this date!")
                            vitalRecords += "<tr><th>No past vital records from this date!!</th></tr>";
                        else{
                            vitalRecords += "<tr>";
                            vitalRecords += "<th>"+ data[i].date +"</th>\n";
                            vitalRecords += "<td style=\"padding-right:3%;\"><a href="+link+" class=\"waves-effect waves-light btn-small right\" style=\"margin-right: 2%;\"><i class=\"material-icons left\">pageview</i>View</a>" +
                                "<button value='"+ data[i].patientdeviceid + " " + data[i].data + "' class='center waves-effect waves-light btn-small detailButton right' style=\"margin-right: 2%;\">Summary</button></td>\n";
                            vitalRecords += "</tr>";
                        }
                    }
                }
                medicalForms += "</table>\n" +
                            "\n" +
                            "                </div>\n" +
                            "            </div>";

                vitalRecords += "</table>\n" +
                            "\n" +
                            "                </div>\n" +
                            "            </div>";

                $("#medicalForms").html(medicalForms);
                $("#vitalRecords").html(vitalRecords);

        }
      });
    });


    </script>

{% endblock %}