{% extends "home/doctorHeaderFooter.html" %}
{% load staticfiles %}

{% block content %}
<title> OPHM - Manage Assigned Devices</title>
    <style>


        .options{
            display:none;
        }
    </style>
    <script>
$(document).ready(function () {
    $(document).ajaxStart(function () {
        $("#loading").show();
    }).ajaxStop(function () {
        $("#loading").hide();
    });
    $('.modal').modal();

    M.textareaAutoResize($('#remarksTextArea'));

    {% with patient_device_list.all|first as patientdevice %}
    $.ajax({
            url: '{% url 'check_deadline' %}',
            data: {
              'patientdeviceid': {{ patientdevice.patientdeviceid }}
            },
            dataType: 'json',
            success: function (data) {
                if(data[0].daysbeforedeadline < 0){
                    $("#aboveSelectThings").show();
                    $("#aboveSelectThings").html("<h4>Patient's device was due last " + data[0].dateofdeadline + "</h4>");
                    $("#typeofManage").prop('disabled', true);
                }
                else{
                    $("#aboveSelectThings").hide();
                    $("#typeofManage").prop('disabled', false);
                }
            }
    });
    {% endwith %}

});
        $(function() {
            $('#typeofManage').change(function(){
            $('.options').hide();
            $('#' + $(this).val()).show();
            });
        });

        $(document).ready(function(){
            $('.sidenav').sidenav();
        });


         $(document).ready(function(){
        $('.timepicker').timepicker();
      });

    </script>

    <div class="col s12 white"><div class="col s12 m12 l12 center white">
            <div id="loading" style="display: none">Loading</div>

            <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">ballot</i>&nbsp;&nbsp; Manage Assigned Devices</h3>
            <div class="divider"></div>
            <div class="section"></div>

        </div>
        <div class="col s12 m12 l12 white center" style="padding: 0px 20px 0px 30px">
        {% if patient_device_list.count == 0 %}
            <h5><b>No current patients is using a device</b></h5>
        {% else %}
             <div class="row">
             <div class="col s12 m2 l4"></div>
                 <div class="col s12 m8 l4">
                        <h5>Choose Patient:</h5><br />
                          <select class="browser-default center col s12" id="patientID">
                              {% for patientdevice in patient_device_list %}
                                <option value="{{ patientdevice.patientdeviceid }}">{{ patientdevice.patient_patientid.userid.auth_user_id.first_name }} {{ patientdevice.patient_patientid.userid.auth_user_id.last_name }}</option>
                              {% endfor %}
                          </select>
                </div>
             <div class="col s12 m2 l4"></div>
             </div>
             <div class="row">
                <div class="col s12 m2 l3"></div>
                <div class="col s12 m4 l3">
                    <h5>Patient's Device Status:</h5><br />
                        <div id="patientDeviceStatus" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                    {% with patient_device_list.all|first as patientdevice %}
                      {% if patient_device_list.count == 0 %}
                      {% elif patientdevice.isrecording == 1 %}
                          <span class="teal-text"><b>Device is currently recording</b></span>
                      {% else %}
                          <span class="teal-text"><b>Device is not recording</b></span>
                      {% endif %}
                    {% endwith %}
                        </div>
                </div>
                <div class="col s12 m4 l3">
                    <h5>Duration per Recording:</h5><br />
                        <div id="patientDuration" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                    {% with patient_device_list.all|first as patientdevice %}
                          <span class="teal-text"><b>{{ patientdevice.recordingduration }} seconds</b></span>
                        </div>
                    <input id="recordingduration" type="hidden" value="{{ patientdevice.recordingduration }}">
                    {% endwith %}
                </div>
                <div class="col s12 m2 l3"></div>
            </div>

            <div class="row">
                <div class="col s12 m2 l3"></div>
                <div class="col s12 m4 l3">
                    <br/><small>Patient's Device's </small><br />
                    <big><big>Min & Max Temperature:</big></big><br /><br/>
                        <div id="patientMinMaxTemperature" class="teal lighten-4 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                        {% with patient_device_list.all|first as patientdevice %}
                            <span class="teal-text"><b>{{ patientdevice.mintemperature }}°C</b></span>
                        {% endwith %} - {% with patient_device_list.all|first as patientdevice %}
                            <span class="teal-text"><b>{{ patientdevice.maxtemperature }}°C</b></span>
                        {% endwith %}
                        </div>
                {% with patient_device_list.all|first as patientdevice %}
                    <input id="mintemperature" type="hidden" value="{{ patientdevice.mintemperature }}">
                    <input id="maxtemperature" type="hidden" value="{{ patientdevice.maxtemperature }}">
                {% endwith %}
                </div>
                <div class="col s12 m4 l3">
                    <br  /><small>Patient's Device's </small><br />
                    <big><big>Min & Max Heart Rate:</big></big><br /><br/>
                        <div id="patientMinMaxHeartRate" class="teal lighten-4 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                        {% with patient_device_list.all|first as patientdevice %}
                            <span class="teal-text"><b>{{ patientdevice.minheartrate }} BPM</b></span>

                        {% endwith %} - {% with patient_device_list.all|first as patientdevice %}
                            <span class="teal-text"><b>{{ patientdevice.maxheartrate }} BPM</b></span>

                        {% endwith %}
                        </div>
                {% with patient_device_list.all|first as patientdevice %}
                    <input id="minheartrate" type="hidden" value="{{ patientdevice.minheartrate }}">
                    <input id="maxheartrate" type="hidden" value="{{ patientdevice.maxheartrate }}">
                {% endwith %}
                </div>
                <div class="col s12 m2 l3"></div>
            </div>
        <button class="btn-small" id="saveConfiguration" onclick="promptConfigurationName()">Save Configuration</button>
        {% endif %}
        <div class="white center" style="padding: 0px 20px 0px 30px">
                 <div class="row">
                    <div class="col s12 m2 l4"></div>
                    <div class="col s12 m8 l4">
                        <div id="aboveSelectThings"></div>
                        <h5>Choose Action:</h5><br />
                        <select class="browser-default center col s12" id="typeofManage">
                            <option value="" disabled selected>Choose what to manage</option>
                            <option value="setinterval">Set Duration per Recording</option>
                            <option value="minmaxtemp">Set Min & Max Temperature</option>
                            <option value="minmaxheartrate">Set Min & Max Heart Rate</option>
                            <option value="setSchedule">Set Schedule of Recording</option>
                            <option value="remarks">Set Remarks</option>
                            <option value="startstopresume">Start or Stop Recording</option>
                            <option value="presets">Presets</option>
                        </select>
                    </div>
                    <div class="col s12 m2 l4"></div>
                </div>
        </div>
        </div><br />

        <div class="col s12 m12 l12 white center" style="padding: 0px 20px 0px 30px">

            <!------------------------------------- SET INTERVAL PER RECORDDING ------------------------------------------->

            {% with patient_device_list.all|first as patientdevice %}
            <div id="setinterval" class="options setinterval">
            <div class="divider"></div>
                <div class="row">
                    <h5>Set Duration per Recording</h5><br />
                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s4 l2">
                        <input id="hours" type="number" class="validate" min="0" max="23" value="0">
                        <label for="hours">Hours</label>
                    </div>
                    <div class="input-field col s4 l2">
                        <input id="minutes" type="number" class="validate" min="0" max="59" value="0">
                        <label for="minutes">Minutes</label>
                    </div>
                    <div class="input-field col s4 l2">
                        <input id="seconds" type="number" class="validate" min="0" max="59" value="0">
                        <label for="seconds">Seconds</label>
                    </div>
                    <div class="input-field col s12 l3"></div>
                </div><br />

                 <center>
                     {% if patientdevice.isrecording == 1 %}
                         <button class="btn-large" id="setDuration" disabled>Set Duration</button>
                     {% else %}
                         <button class="btn-large" id="setDuration">Set Duration</button>
                     {% endif %}
                </center>

            </div>

        <!------------------------------------- MIN & MAX TEMPARATURE ------------------------------------------->

            <div id ="minmaxtemp" class="options minmaxtemp">
            <div class="divider"></div><br />


                <div class ="row">

                    <h5>Set Min & Max Temperature</h5><br />

                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s6 l3">
                        {% with patient_device_list.all|first as patientdevice %}
                        <input value="{{ patientdevice.mintemperature }}" id="minTemp" type="number" class="validate" min="0" step=".01">
                        <label for="minTemp">Minimum Temperature</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <input value="{{ patientdevice.maxtemperature }}" id="maxTemp" type="number" class="validate" min="0" step=".01">
                        <label for="maxTemp">Maximum Temperature</label>
                    </div>

                    <div class="input-field col s12 l3"></div>

                </div>

                <center>
                    {% if patientdevice.isrecording == 1 %}
                         <button class="btn-large" id="setTemperature" disabled>Set Temperature Thresholds</button>
                     {% else %}
                         <button class="btn-large" id="setTemperature">Set Temperature Thresholds</button>
                     {% endif %}
                </center>

            </div>

        <!------------------------------------- MIN & MAX HEARTRATE ------------------------------------------->

            <div id ="minmaxheartrate" class="options minmaxheartrate">
            <div class="divider"></div><br />


                <div class ="row">

                    <h5>Set Min & Max of Heartrate</h5><br />

                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s6 l3">
                        <input value="{{ patientdevice.minheartrate }}" id="minHeartrate" type="number" class="validate" min="0">
                        <label for="minHeartrate">Mininum Heartrate</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <input value="{{ patientdevice.maxheartrate }}" id="maxHeartrate" type="number" class="validate" min="0">
                        <label for="maxHeartrate">Maximum Heartrate</label>
                    </div>
                    <div class="input-field col s12 l3"></div>

                </div>
                        {% endwith %}
                <center>
                    {% if patientdevice.isrecording == 1 %}
                         <button class="btn-large" id="setHeartRate" disabled>Set Heart Rate Thresholds</button>
                     {% else %}
                         <button class="btn-large" id="setHeartRate">Set Heart Rate Thresholds</button>
                     {% endif %}
                </center>

            </div>
            {% endwith %}

        <!------------------------------------- SET SCHEDULE OF RECORDING ------------------------------------------->

            <div id ="setSchedule" class="options setSchedule">
            <div class="divider"></div>
                <div class="row">
                    <div class="col s12 m2 l2"></div>
                    <div class ="col s12 m8 l8" id="mainSetTimeandDate">
                        <h5>Set Time and Day/s of Recording</h5><br />

                        <big class="left"><b>Current Scheduled Recording:</b></big></b>
                        <table id="scheduleTable">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="scheduleTableBody">
                                <tr>
                                    <td>9:00AM</td>
                                    <td>Monday, Friday</td>
                                    <td><button class="btn waves-effect waves-light right">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <br><br><a class="btn-small right modal-trigger" href="#modalSet">Set A New Schedule</a>
                        <div id="modalSet" class="modal" style="height: 70%; width: 65%;">
                        <div class="modal-content">
                            <h5 class="center"><b><i class="material-icons">schedule</i> Set A New Schedule</b></h5><br/>
                            <div class="input-field col s12 m6 l6" id="setTime">
                                <h6 class="left"><B>Set Time</B></h6><br><br>
                                <!-- <input id="scheduleTime" type="text" class="timepicker" id="default_start_time" /> -->
                                <select class="browser-default" id="scheduleTime">
                                    {% for time in time_list %}
                                        <option value="{{ time.timeid }}">{{ time.actualtime }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col s12 m6 l6"><br>
                                <h6 class="left"><B>Set Day/s of Recording</B></h6><br><br>
                                <p>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="1" />
                                    <span>Monday </span>
                                  </label>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="2" />
                                    <span>Tuesday </span>
                                  </label>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="3" />
                                    <span>Wednesday </span>
                                  </label>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="4" />
                                    <span>Thursday </span>
                                  </label>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="5" />
                                    <span>Friday </span>
                                  </label>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="6" />
                                    <span>Saturday </span>
                                  </label>
                                  <label>
                                    <input name="day" type="checkbox" class="filled-in" value="7" />
                                    <span>Sunday </span>
                                  </label>
                                </p>
                            </div>

                           <div class="col s12"></div>

                        <br /> <br /> <br/> <br />
                        <br /><br />
                        <div class="col s12" style="margin-top: 16%; padding-right: 3%; padding-bottom: 5%;">
                            <button class="btn waves-effect waves-light right" id="setScheduleButton">Set Schedule
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>


            <!------------------------------------- REMARKS ------------------------------------------->

            <div id ="remarks" class="options remarks">
            <div class="divider"></div><br />


                <div class ="row">

                    <h5>Set Remarks</h5><br />

                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s12 l12">
                        {% with patient_device_list.all|first as patientdevice %}
                        <textarea id="remarksTextArea" class="materialize-textarea">{{ patientdevice.remarks }}</textarea>
                        <label for="remarks">Remarks</label>
                        {% endwith %}
                    </div>
                </div>

                <center>
                    <button class="btn-large" id="setRemarks">Set Remarks</button>
                </center>

            </div>

            <!------------------------------------- START / STOP / RESUME ------------------------------------------->

            <div id ="startstopresume" class="options startstopresume">
            <div class="divider"></div><br />

                <div id ="manageRecord" class="col s12 m12 l12  white" style="padding: 0px 20px 0px 30px">
                <center>
                    {% with patient_device_list.all|first as patientdevice %}
                      {% if patient_device_list.count == 0 %}
                          <button class="btn-large" id="stopresume" value=1 disabled>Stop Recording</button>
                      {% elif patientdevice.isrecording == 1 %}
                          <button class="btn-large" id="stopresume" value=1>Stop Recording</button>
                      {% else %}
                          <button class="btn-large" id="stopresume" value=0>Start Recording</button>
                      {% endif %}
                    {% endwith %}

                </center>

            </div>
            </div>

        <!------------------------------------- PRESETS ------------------------------------------->

            <div id ="presets" class="options presets">
                <div class="divider"></div><br />
                {% if presets_list.count != 0 %}
                    <div class="white center" style="padding: 0px 20px 0px 30px">
                             <div class="row">
                                <div class="col s12 m2 l4"></div>
                                <div class="col s12 m8 l4">
                                    <h5>Presets:</h5>
                                    <select class="browser-default center col s12" id="presetID">
                                        {% for preset in presets_list %}
                                            <option value="{{ preset.presetid }}">{{ preset.presetname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col s12 m2 l4"></div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l3"></div>
                        {% with presets_list|first as preset %}
                        <div class="input-field col s4 l2">
                            <input disabled id="configurationDuration" type="text" class="validate" value="{{ preset.recordingduration }} seconds">
                            <label for="hours">Duration per Recording</label>
                            <input id="configurationDurationValue" type="hidden" value="{{ preset.recordingduration }}">
                        </div>
                        <div class="input-field col s4 l2">
                            <input disabled id="configurationTemperature" type="text" class="validate" value="{{ preset.mintemperature }}°C - {{ preset.maxtemperature }}°C">
                            <label for="minutes">Min & Max Temperature</label>
                            <input id="configurationTemperatureMinValue" type="hidden" value="{{ preset.mintemperature }}">
                            <input id="configurationTemperatureMaxValue" type="hidden" value="{{ preset.maxtemperature }}">
                        </div>
                        <div class="input-field col s4 l2">
                            <input disabled id="configurationHeartrate" type="text" class="validate" value="{{ preset.minheartrate }} BPM - {{ preset.maxheartrate }} BPM">
                            <label for="minutes">Min & Max Heart Rate</label>
                            <input id="configurationHeartrateMinValue" type="hidden" value="{{ preset.minheartrate }}">
                            <input id="configurationHeartrateMaxValue" type="hidden" value="{{ preset.maxheartrate }}">
                        </div>
                        {% endwith %}
                        <div class="input-field col s12 l3"></div>
                    </div>
                    {% if patientdevice.isrecording == 1 %}
                         <button class="btn-large" id="loadConfiguration" disabled>Load Configuration</button>
                     {% else %}
                         <button class="btn-large" id="loadConfiguration">Load Configuration</button>
                     {% endif %}

                {% endif %}
            </div>


        </div>
        <br />
        <section></section>
        <section></section>

        </div>

<div id="modal2" class="modal" style="">
    <div class="modal-content">
          <h5 class="center"><b>Edit Schedule</b></h5><br/>
        <div class="col s12 m6 l6">
            <h6><B id="dayModal">Day Schedule: </B></h6>
            <div id="scheduleTimes">

            </div>
        </div>
        <button id="removeButtonModal" onclick="" class="center waves-effect waves-light btn-small red lighten-2">Remove All</button>
        <div class="col s12" style="padding-right: 5%; padding-bottom: 5%;">
                <button id="saveButtonScheduleModal" onclick="" class="btn waves-effect waves-light right" type="button" name="action">Save
                <i class="material-icons right">save</i>
                </button>
        </div>
    </div>
</div>

<script>
    $("#saveButtonScheduleModal").click(function() {
        var scheduleids = [];
        $.each($("input[name='scheduleid']:not(:checked)"), function(){
            scheduleids.push($(this).val());
        });

        if(scheduleids.length != 0){
            for(var i = 0; i < scheduleids.length; i++){
                $.ajax({
                url: '{% url 'remove_schedule' %}',
                data: {
                  'scheduleid': scheduleids[i]
                },
                dataType: 'json',
                success: function (data){
                }
              });
            }
            alert('Schedule updated');
            location.reload()
        }

    });

    $("#removeButtonModal").click(function() {
        var scheduleids = [];
        $.each($("input[name='scheduleid']"), function(){
            scheduleids.push($(this).val());
        });

        for(var i = 0; i < scheduleids.length; i++){
            $.ajax({
            url: '{% url 'remove_schedule' %}',
            data: {
              'scheduleid': scheduleids[i]
            },
            dataType: 'json',
            success: function (data){
            }
          });
        }
        alert('Schedule updated');
        location.reload()

    });

    $("#setSchedule").on("click",".editButton", function() {
        var data = this.value.split(",");
        data.pop();

        $("#scheduleTimes").html("");
        for(var i = 0; i < data.length; i++){
            $.ajax({
            url: '{% url 'get_specific_schedule' %}',
            data: {
              'scheduleid': data[i]
            },
            dataType: 'json',
            success: function (data){
                $("#dayModal").html(data[0].dayData + " Schedule:");
                var timesHtml = $("#scheduleTimes").html();
                timesHtml += '<p><label>\n' +
                    '                                    <input checked="true" name="scheduleid" type="checkbox" class="filled-in" value="'+data[0].scheduleid+'" />\n' +
                    '                                    <span>'+data[0].timeData+'</span>\n' +
                    '                                  </label></p>';

                $("#scheduleTimes").html(timesHtml);
            }
          });
        }


    });


    function promptConfigurationName(){
        var name = prompt("Please enter configuration name");
        if (name != null) {
          var recordingduration = $("#recordingduration").val();
          var mintemperature = $("#mintemperature").val();
          var maxtemperature = $("#maxtemperature").val();
          var minheartrate = $("#minheartrate").val();
          var maxheartrate = $("#maxheartrate").val();

          $.ajax({
            url: '{% url 'save_configuration' %}',
            data: {
              'presetname': name,
              'doctorid': {{ doctorid }},
              'recordingduration': recordingduration,
              'mintemperature': mintemperature,
              'maxtemperature': maxtemperature,
              'minheartrate': minheartrate,
              'maxheartrate': maxheartrate,
            },
            dataType: 'json',
            success: function (data) {
                for(let i = 0; i < data.length; i++){
                    alert(data[i]);
                }
                location.reload();

            }

          });
        }
    }

      $("#stopresume").click(function() {
          var data = $(this).val();
          var deviceid = $("#patientID").val();

          if ($(this).attr('value') == '1') {
              $(this).html('Start Recording');
              $(this).val(0);
          }
          else{
              $(this).html('Stop Recording');
              $(this).val(1);
          }
        $.ajax({
        url: '{% url 'stop_recording' %}',
        data: {
          'deviceid': deviceid,
          'data': data,
        },
        dataType: 'json',
        success: function (data) {
            for(let i = 0; i < data.length; i++){
                alert(data[i].response);
            }
            location.reload();

        }

        });

      });

      $("#setDuration").click(function() {
          var hours = $("#hours").val();
          var minutes = $("#minutes").val();
          var seconds = $("#seconds").val();
          var deviceid = $("#patientID").val();

          if(hours == "" || minutes == "" || seconds == "")
              alert("Put values for all hours, minutes, and seconds");
          else if(hours < 0 || minutes < 0 || seconds < 0)
              alert("Values can't be lower than zero");
          else if(hours == 0 && minutes == 0 && seconds == 0)
              alert("Values can't all be zero");
          else{
              $.ajax({
                url: '{% url 'set_recording_duration' %}',
                data: {
                  'deviceid': deviceid,
                  'hours': hours,
                  'minutes': minutes,
                  'seconds': seconds,
                },
                dataType: 'json',
                success: function (data) {
                    for(let i = 0; i < data.length; i++){
                        alert(data[i].response);
                    }
                    location.reload();

                }

              });
          }


      });

      $("#setTemperature").click(function() {
          var minTemp = $("#minTemp").val();
          var maxTemp = $("#maxTemp").val();
          var deviceid = $("#patientID").val();

          if(minTemp == "" || maxTemp == "")
              alert("Put values for all hours, minutes, and seconds");
          else if(minTemp < 0 || maxTemp < 0)
              alert("Values can't be lower than zero");
          else if(minTemp == 0 && maxTemp == 0)
              alert("Values can't all be zero");
          else{
              $.ajax({
                url: '{% url 'set_min_max_temperature' %}',
                data: {
                  'deviceid': deviceid,
                  'mintemp': minTemp,
                  'maxtemp': maxTemp,
                },
                dataType: 'json',
                success: function (data) {
                    for(let i = 0; i < data.length; i++){
                        alert(data[i].response);
                    }
                    location.reload();
                }
              });
          }

      });

      $("#setHeartRate").click(function() {
          var minHeartrate = $("#minHeartrate").val();
          var maxHeartrate = $("#maxHeartrate").val();
          var deviceid = $("#patientID").val();

          if(minHeartrate == "" || maxHeartrate == "")
              alert("Put values for all hours, minutes, and seconds");
          else if(minHeartrate < 0 || maxHeartrate < 0)
              alert("Values can't be lower than zero");
          else if(minHeartrate == 0 && maxHeartrate == 0)
              alert("Values can't all be zero");
          else{
              $.ajax({
                url: '{% url 'set_min_max_heartrate' %}',
                data: {
                  'deviceid': deviceid,
                  'minheartrate': minHeartrate,
                  'maxheartrate': maxHeartrate,
                },
                dataType: 'json',
                success: function (data) {
                    for(let i = 0; i < data.length; i++){
                        alert(data[i].response);
                    }
                    location.reload();
                }
              });
          }
      });

      $("#setRemarks").click(function() {
          var remarks = $("#remarksTextArea").val();
          var deviceid = $("#patientID").val();


          $.ajax({
            url: '{% url 'set_remarks' %}',
            data: {
              'deviceid': deviceid,
              'remarks': remarks,
            },
            dataType: 'json',
            success: function (data) {
                for(let i = 0; i < data.length; i++){
                    alert(data[i].response);
                }
                location.reload();
            }
          });

      });

      $("#startTime").change(function() {
          alert($("#startTime").val());

      });

      $("#patientID").change(function() {
          var patientdeviceid = $("#patientID").val();

          $.ajax({
            url: '{% url 'check_device_status' %}',
            data: {
              'patientdeviceid': patientdeviceid
            },
            dataType: 'json',
            success: function (data) {

                var patientDeviceStatus = "";
                var duration = "<span class=\"teal-text\"><b>"+data[0].duration+" seconds</b></span>";
                $("#recordingduration").val(data[0].duration);

                var minMaxTemperature = "<span class=\"teal-text\"><b>"+data[0].mintemperature+"°C</b></span>";
                $("#mintemperature").val(data[0].mintemperature);
                minMaxTemperature += " - ";
                minMaxTemperature += "<span class=\"teal-text\"><b>"+data[0].maxtemperature+"°C</b></span>";
                $("#maxtemperature").val(data[0].maxtemperature);

                var minMaxHeartRate = "<span class=\"teal-text\"><b>"+data[0].minheartrate+" BPM</b></span>";
                $("#minheartrate").val(data[0].minheartrate);
                minMaxHeartRate += " - ";
                minMaxHeartRate += "<span class=\"teal-text\"><b>"+data[0].maxheartrate+" BPM</b></span>";
                $("#maxheartrate").val(data[0].maxheartrate);

                var button = "<center>";

                if(data[0].status == 0){
                    patientDeviceStatus += "<span class=\"teal-text\"><b>Device is not recording</b></span>";
                    button += "<button class=\"btn-large\" id=\"stopresume\" value=0>Start Recording</button>"
                }
                else{
                    patientDeviceStatus += "<span class=\"teal-text\"><b>Device is currently Recording</b></span>";
                    button += "<button class=\"btn-large\" id=\"stopresume\" value=1>Stop Recording</button>"
                    $("#setDuration").attr("disabled");
                    $("#setTemperature").attr("disabled");
                    $("#setHeartRate").attr("disabled");
                    $("#loadConfiguration").attr("disabled");
                }
                button += "</center>";

                $("#patientDeviceStatus").html(patientDeviceStatus);
                $("#manageRecord").html(button);
                $("#patientDuration").html(duration);
                $("#patientMinMaxTemperature").html(minMaxTemperature );
                $("#patientMinMaxHeartRate").html(minMaxHeartRate);

                $("#minHeartrate").val(data[0].minheartrate);
                $("#maxHeartrate").val(data[0].maxheartrate);
                $("#minTemp").val(data[0].mintemperature);
                $("#maxTemp").val(data[0].maxtemperature);
                $("#remarksTextArea").val(data[0].remarks);
                M.textareaAutoResize($('#remarksTextArea'));
                }

            });

          $.ajax({
            url: '{% url 'check_deadline' %}',
            data: {
              'patientdeviceid': patientdeviceid
            },
            dataType: 'json',
            success: function (data) {
                if(data[0].daysbeforedeadline < 0){
                    $("#aboveSelectThings").show();
                    $("#aboveSelectThings").html("<h4>Patient's device was due last " + data[0].dateofdeadline + "</h4>");
                    $("#typeofManage").prop('disabled', true);
                }
                else{
                    $("#aboveSelectThings").hide();
                    $("#typeofManage").prop('disabled', false);
                }
            }
          });

          $.ajax({
            url: '{% url 'get_schedule' %}',
              {% with patient_device_list.all|first as patientdevice %}
            data: {
              'patientdeviceid': {{ patientdevice.patientdeviceid }}
            },
              {% endwith %}
            dataType: 'json',
            success: function (data) {
                var tableData = '';
                if(data[0].patientscheduleid == -999){
                    $("#scheduleTable").html("No schedule set");
                }
                else{
                    for(var i = 0; i < data.length; i++){
                        tableData +="<tr>\n" +
                        "                                    <td>"+data[i].dayData+"</td>\n" +
                        "                                    <td>"+data[i].timesData+"</td>\n" +
                        "                                    <td><button class=\"btn waves-effect waves-light right modal-trigger editButton\" value=" + data[i].scheduleids + " href=\"#modal2\">Edit</button></td>\n" +
                        "                                </tr>";
                    }
                    $("#scheduleTableBody").html(tableData);
                }
            }
          });

      });

      $("#presetID").change(function() {
          var presetID = $("#presetID").val();

          $.ajax({
            url: '{% url 'check_preset' %}',
            data: {
              'presetID': presetID
            },
            dataType: 'json',
            success: function (data) {
                $("#configurationDuration").val(data[0].recordingduration + " seconds");
                $("#configurationTemperature").val(data[0].mintemperature + "°C - " + data[0].maxtemperature + "°C");
                $("#configurationHeartrate").val(data[0].minheartrate + " BPM - " + data[0].maxheartrate + " BPM");
                $("#configurationDurationValue").val(data[0].recordingduration);
                $("#configurationTemperatureMinValue").val(data[0].mintemperature);
                $("#configurationTemperatureMaxValue").val(data[0].maxtemperature);
                $("#configurationHeartrateMinValue").val(data[0].minheartrate);
                $("#configurationHeartrateMaxValue").val(data[0].maxheartrate);
                }
            });
      });


      $("#loadConfiguration").click(function() {
          var duration = $("#configurationDurationValue").val();
          var minTemperature = $("#configurationTemperatureMinValue").val();
          var maxTemperature = $("#configurationTemperatureMaxValue").val();
          var minHeartrate = $("#configurationHeartrateMinValue").val();
          var maxHeartrate = $("#configurationHeartrateMaxValue").val();
          var deviceid = $("#patientID").val();

          $.ajax({
            url: '{% url 'load_preset' %}',
            data: {
              'deviceid': deviceid,
              'duration': duration,
              'mintemperature': minTemperature,
              'maxtemperature': maxTemperature,
              'minheartrate': minHeartrate,
              'maxheartrate': maxHeartrate,
            },
            dataType: 'json',
            success: function (data) {
                for(let i = 0; i < data.length; i++){
                    alert(data[i].response);
                }
                location.reload();
            }
          });
      });


      $("#setScheduleButton").click(function() {
          var days = [];
          $.each($("input[name='day']:checked"), function(){
                days.push($(this).val());
            });
          var daysLegit = days.join(" ");
          var time = $("#scheduleTime").val();
          var patientdeviceid = $("#patientID").val();

          $.ajax({
            url: '{% url 'add_schedule' %}',
            data: {
              'patientdeviceid': patientdeviceid,
              'days': daysLegit,
              'time': time,
            },
            dataType: 'json',
            success: function (data) {
                alert(data);
                location.reload();
            }
          });
      });


      $(document).ready(function () {
          $.ajax({
            url: '{% url 'get_schedule' %}',
              {% with patient_device_list.all|first as patientdevice %}
            data: {
              'patientdeviceid': {{ patientdevice.patientdeviceid }}
            },
              {% endwith %}
            dataType: 'json',
            success: function (data) {
                var tableData = '';
                if(data[0].patientscheduleid == -999){
                    $("#scheduleTable").html("No schedule set");
                }
                else{
                    for(var i = 0; i < data.length; i++){
                        tableData +="<tr>\n" +
                        "                                    <td>"+data[i].dayData+"</td>\n" +
                        "                                    <td>"+data[i].timesData+"</td>\n" +
                        "                                    <td><button class=\"btn waves-effect waves-light right modal-trigger editButton\" value=" + data[i].scheduleids + " href=\"#modal2\">Edit</button></td>\n" +
                        "                                </tr>";
                    }
                    $("#scheduleTableBody").html(tableData);
                }
            }
          });
      });

</script>

{% endblock %}