{% extends "home/patientHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
#chartdiv2 {
	width	: 100%;
	height	: 300px;
}
#chartdiv3 {
	width	: 100%;
	height	: 300px;
}

</style>
<script>
    var chart = AmCharts.makeChart("chartdiv2", {
    "type": "serial",
    "theme": "light",
    "marginRight": 70,
    "autoMarginOffset": 20,
    "dataProvider": [
        {% for temperature_record in temperature_list.reverse %}
            {
            "time": "{{ temperature_record.timestamp|date:"h:i:s A" }}",
            "value": {{ temperature_record.data }}
            },
        {% endfor %}
        ],
    "balloon": {
        "cornerRadius": 6
    },
    "valueAxes": [{
        "axisAlpha": 0
    }],
    "graphs": [{
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]°C</span></b>",
        "bullet": "round",
        "bulletSize": 6,
        "connect": false,
        "lineColor": "#b6d278",
        "lineThickness": 2,
        "negativeLineColor": "#487dac",
        "valueField": "value"
    }],
    "chartCursor": {
        "cursorAlpha": 0.1,
        "cursorColor": "#000000",
        "fullWidth": true,
        "graphBulletSize": 2
    },
    "chartScrollbar": {},
    "dataDateFormat": "YYYY",
    "categoryField": "time",
    "categoryAxis": {
		"gridPosition": "start"
    },
    "export": {
        "enabled": true
    }
});

    var chart = AmCharts.makeChart("chartdiv3", {
    "type": "serial",
    "theme": "light",
    "marginRight": 70,
    "autoMarginOffset": 20,
    "dataProvider": [
        {% for heartrate_record in heartrate_list.reverse %}
            {
            "time": "{{ heartrate_record.timestamp|date:"h:i:s A" }}",
            "value": {{ heartrate_record.data }}
            },
        {% endfor %}
        ],
    "balloon": {
        "cornerRadius": 6
    },
    "valueAxes": [{
        "axisAlpha": 0
    }],
    "graphs": [{
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]] bpm</span></b>",
        "bullet": "round",
        "bulletSize": 6,
        "connect": false,
        "lineColor": "#b6d278",
        "lineThickness": 2,
        "negativeLineColor": "#487dac",
        "valueField": "value"
    }],
    "chartCursor": {
        "cursorAlpha": 0.1,
        "cursorColor": "#000000",
        "fullWidth": true,
        "graphBulletSize": 2
    },
    "chartScrollbar": {},
    "dataDateFormat": "YYYY",
    "categoryField": "time",
    "categoryAxis": {
		"gridPosition": "start"
    },
    "export": {
        "enabled": true
    }
});

    $(document).ready(function(){
        $('.sidenav').sidenav();
    })

     $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}"></script>

<script type ="text/javascript">
                window.onload = function () {
                    var xAxisStripLinesArray = [];
                    var yAxisStripLinesArray = [];
                    var dps = [];
                    var dataPointsArray = [
                        {% for ecg_data in ecg_list %}
                            {{ ecg_data.data }},
                        {% endfor %}
                    ];


                    var chart = new CanvasJS.Chart("ecgChart",
                        {
                            title:{
                            text:"ECG",
                          },
                          subtitles:[{
                              text: "As of {{ latest_ecg.timestamp|date:"F j, Y" }}",
                              horizontalAlign: "center",
                            },
                                ],
                          axisY:{
                            stripLines:yAxisStripLinesArray,
                            gridThickness: 2,
                            gridColor:"#DC74A5",
                            lineColor:"#DC74A5",
                            tickColor:"#DC74A5",
                            labelFontColor:"#DC74A5",
                          },
                          axisX:{
                            stripLines:xAxisStripLinesArray,
                            gridThickness: 2,
                            gridColor:"#DC74A5",
                            lineColor:"#DC74A5",
                            tickColor:"#DC74A5",
                            labelFontColor:"#DC74A5",
                          },
                          data: [
                          {
                            type: "spline",
                            color:"black",
                            dataPoints: dps
                          }
                          ]
                        });

                    addDataPointsAndStripLines();
                    chart.render();

                    function addDataPointsAndStripLines(){
                            //dataPoints
                        for(var i=0; i<dataPointsArray.length;i++){
                            dps.push({y: dataPointsArray[i]});
                        }
                        //StripLines
                        for(var i=0;i<3000;i=i+50){
                          if(i%1000 != 0)
                              yAxisStripLinesArray.push({value:i,thickness:0.7, color:"#DC74A5"});
                        }
                        for(var i=0;i<1400;i=i+5){
                          if(i%200 != 0)
                              xAxisStripLinesArray.push({value:i,thickness:0.7, color:"#DC74A5"});
                        }
                    }
            }
</script>


        <div class="col s12 m12 l12  white">

            <div class="row center">
                <div class="section"></div>
                <div class="col s3"></div>
                <div class="col s6">

                <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">list</i>&nbsp;&nbsp; View Latest Vitals</h3>


                <!-- Maglalagay ako ng realtime clock dito -->
                </div>
                <div class="col s3"></div>
            </div>
            <div class="section"></div>
            <div class="divider"></div>
            <div class="section"></div>

            {% if latest_ecg == -1 %}
                <center><h5>Wala pang values</h5></center>
            {% else %}
                <div class="row white" style="margin: 10px">
                <div class="col s12 white center">
                    <h5 class="center"><b>{{ patient.userid.auth_user_id.last_name }}, {{ patient.userid.auth_user_id.first_name }}</b></h5>
                    {% if pagefrom == 1 %}
                        Date: <b> {% now "F j, Y" %} </b>
                    {% endif %}

                    <h6 class="center green lighten-4">ECG</h6>
                    <div id="ecgChart" style="height: 400px; width: 100%;"></div>
                    <div class="col s12 center green lighten-4">
                        <h6 class="center">Temperature</h6>
                        As of <b>{{ latest_temperature.timestamp|date:"F j, Y" }}</b>
                        <div id="chartdiv2" style="background-color: #fff;"></div>
                        <br>
                    </div>
                    <div class="col s12 center green lighten-5">
                        <h6 class="center">Heartrate</h6>
                        As of <b>{{ latest_heartrate.timestamp|date:"F j, Y" }}</b>
                        <div id="chartdiv3" style="background-color: #fff;"></div>
                        <br>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
            <div class="section"></div><div class="section"></div>


{% endblock %}