{% extends "home/doctorHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
            
        <div class="col s12 white"><div class="col s12 m12 l12 center white">

            <div class="section"></div>

            <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">stop</i>&nbsp;&nbsp; Manage Device Recording</h3>
            <div class="section"></div>
            <div class="divider"></div>
            <div class="section"></div>

        </div>
        <div id ="manageRecord" class="col s12 m12 l12  white" style="padding: 0px 20px 0px 30px">
                <center>
                    <label>Choose Patient</label>
                      <select id="deviceID" class="browser-default" style="width: 35%;">
                      {% if patient_device_list.count == 0 %}
                          <option value="" disabled selected>No current patients is using a device</option>
                      {% else %}
                          {% for patientdevice in patient_device_list %}
                            <option value="{{ patientdevice.patientdeviceid }}">{{ patientdevice.patient_patientid.userid.auth_user_id.first_name }} {{ patientdevice.patient_patientid.userid.auth_user_id.last_name }}</option>
                          {% endfor %}
                      {% endif %}

                    </select>
                <br />
                <br />
                {% with patient_device_list.all|first as patientdevice %}

                  {% if patient_device_list.count == 0 %}
                      <button class="btn-large" id="stopresume" value=1 disabled>Stop Recording</button>
                  {% elif patientdevice.isrecording == 1 %}
                      <button class="btn-large" id="stopresume" value=1>Stop Recording</button>
                  {% else %}
                      <button class="btn-large" id="stopresume" value=0>Start Recording</button>
                  {% endif %}

                {% endwith %}
                </center>
            <br />
            <br />
        </div>
        <section></section>
        <section></section>
        </div>


<script>
      $("#stopresume").click(function() {
          var data = $(this).val();
          var deviceid = $("#deviceID").val();
        if ($(this).attr('value') == '1') {
          $(this).html('Start Recording');
          $(this).val(0);
        } else{
          $(this).html('Stop Recording');
          $(this).val(1);
        }

        $.ajax({
        url: '{% url 'stop_recording' %}',
        data: {
          'deviceid': deviceid,
          'data': data,
        },
        dataType: 'json',
        success: function (data) {
            for(let i = 0; i < data.length; i++){
                alert(data[i].response);
                }
            }
        });

      });

</script>
{% endblock %}