{% extends base_template %}
{% load staticfiles%}

{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.js"></script>

    <title> OPHM - Notifications </title>
    <style>
    select{
        display: block;
    }
    .not-viewed{
        background-color: #bee5eb !important;
    }
    </style>
<div class="col s12 m12 l12  white">

            <div class="row center">
                <div class="col s3"></div>
                <div class="col s6">
                    <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">notification_important</i>&nbsp;&nbsp; Notifications</h3>
                     Date: <b> {% now "F j, Y" %} </b>
                <!-- Maglalagay ako ng realtime clock dito -->
                </div>
                <div class="col s3"></div>
            </div>
            <div class="divider"></div>
            <div class="col s12 m12 l12 white" style="padding: 0px 40px 0px 40px;">
            <table id="unviewedAlerts" class="cell-border">
                <thead>
                    <tr>
                        <th>Date Time</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                        {% if notification.viewed == 0 %}
                            <tr class="not-viewed">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{ notification.datetime|date:"M j, Y, H:i:s" }}</td>
                            <td>{{ notification.notificationdescription }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>

    <script>
            $(document).ready(function() {
                $('#unviewedAlerts').DataTable({
                    "autoWidth": true,
                    "order": [[ 0, "desc" ]],
                });
                $('#allAlerts').DataTable({
                    "autoWidth": true,
                    "order": [[ 1, "desc" ]]
                });

                $.ajax({
                    url: '{% url 'view_notifications' %}',
                    data: {
                    },
                    dataType: 'json',
                    success: function (data) {
                        var notification = "<i class=\"material-icons left white-text\" style=\"margin-right: 15px\">notification_important</i>\n" +
                            "                                <small style=\"display: none\" class=\"notification-badge\">"+data[0]+"</small>\n" +
                            "                                Notifications";
                        $("#notifications").html(notification);
                    }
                });
            } );
    </script>
{% endblock %}

