body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #409a90;
    }

    #container {
       width: 300%;
    }

    #searchIcon{
        color: white;
        padding-top: 10px
    }

    #greeting{
        font-family: Montserrat;

    }

    .tab{
        padding-right: 10px;
        background-color:#80C6C1;

    }
    .tab:hover{

        background-color:#89bcb6;

    }

    .nav-wrapper .brand-logo img {
    height: 100%;
}
