{% load staticfiles%}

Date: {{ date }} <br>
Device used: {{ patient_device.device_deviceid.deviceid }} <br>
Average temp: {{ average_temperature.data__avg|floatformat }}<br>
Average heart rate: {{ average_heartrate.data__avg|floatformat }}<br>
Last recorded temp: {{ latest_temperature.data }} at {{ latest_temperature.timestamp|time }} <br>
Last recorded heart rate: {{ latest_heartrate.data }} at {{ latest_heartrate.timestamp|time }} <br>
Batch count: {{ batch_count }} <br>
Comments:<br>
{% for comment in comments %}
    {{ comment.typeofvital.type }}: {{ comment.comment }}<br>
{% endfor %}



<div class="row">
                    <h5>Set Duration per Recording</h5><br />
                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s4 l2">
                        <input id="hours" type="number" class="validate" min="0" max="23" value="0">
                        <label for="hours">Hours</label>
                    </div>
                    <div class="input-field col s4 l2">
                        <input id="minutes" type="number" class="validate" min="0" max="59" value="0">
                        <label for="minutes">Minutes</label>
                    </div>
                    <div class="input-field col s4 l2">
                        <input id="seconds" type="number" class="validate" min="0" max="59" value="0">
                        <label for="seconds">Seconds</label>
                    </div>
                    <div class="input-field col s12 l3"></div>
                </div>
                <div class ="row">

                    <h5>Set Min & Max Temperature</h5><br />

                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s6 l3">
                        {% with patient_device_list.all|first as patientdevice %}
                        <input value="{{ patientdevice.mintemperature }}" id="minTemp" type="number" class="validate" min="0" step=".01">
                        <label for="minTemp">Minimum Temperature</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <input value="{{ patientdevice.maxtemperature }}" id="maxTemp" type="number" class="validate" min="0" step=".01">
                        <label for="maxTemp">Maximum Temperature</label>
                    </div>

                    <div class="input-field col s12 l3"></div>

                </div>

                <div class ="row">

                    <h5>Set Min & Max of Heartrate</h5><br />

                    <div class="input-field col s12 l3"></div>
                    <div class="input-field col s6 l3">
                        <input value="{{ patientdevice.minheartrate }}" id="minHeartrate" type="number" class="validate" min="0">
                        <label for="minHeartrate">Mininum Heartrate</label>
                    </div>
                    <div class="input-field col s6 l3">
                        <input value="{{ patientdevice.maxheartrate }}" id="maxHeartrate" type="number" class="validate" min="0">
                        <label for="maxHeartrate">Maximum Heartrate</label>
                    </div>
                    <div class="input-field col s12 l3"></div>

                </div>
                {% endwith %}