{% extends "home/adminHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
    <style>
    select{
        display: block;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.js"></script>

    <title> OPMS - View List of Users </title>
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
        <div class="col s12 m12 l12 center white">
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6">        
                    <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">list</i>&nbsp;&nbsp; View List of
                        {% if type == 0 %}
                            Users
                        {% elif type == 1 %}
                            Doctors
                        {% else %}
                            Patients
                        {% endif %}
                    </h3>
                </div>
                <div class="col s3" style ="padding: 0px 40px 0px 20px">
                </div>
            </div>
            <div class="divider"></div>
                    
        </div>
        <div id='view-users' class="col s12 m12 l12 white" style="padding: 0px 20px 0px 30px">
        <br>
        <a href="{% url 'listofdoctors' %}" class="waves-effect waves-light btn">Doctors</a>
        <a href="{% url 'listofpatients' %}" class="waves-effect waves-light btn">Patients</a>
        <a href="{% url 'listofusers' %}" class="waves-effect waves-light btn">All</a>
        <br>
        <table id="alertsTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list %}
                             <tr>
                                <td>{{ user.username }}</td>
                                 <td>{{ user.first_name }}</td>
                                 <td>{{ user.last_name }}</td>
                                 <td>{{ user.email }}</td>
                                 {% for userdetails in user_details_list %}
                                     {% if userdetails.userid == user.id %}
                                         <td>{{ userdetails.usertype.type }}</td>
                                     {% endif %}
                                 {% endfor %}


                                 {% if user.is_active == 0 %}
                                 <td>Inactive</td>
                                 {% else  %}
                                 <td>Active</td>
                                 {% endif %}
                                <td>{{ user.date_joined.date|date:"Y-m-d" }}</td>
                                {% for userdetails in user_details_list %}
                                     {% if userdetails.userid == user.id %}
                                         {% if current_user_type == 2 %}
                                             {% if userdetails.usertype.usertypeid > 2 %}
                                               <td>
                                                   <center>
                                                       <a href="{% url 'edituser' user.id %}" class="btn-floating btn-small waves-effect waves-light blue lighten-2" ><i class="material-icons">create</i></a>&nbsp;&nbsp;
                                                       <button id="info{{ user.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-2" value="{{ user.id }}"><i class="material-icons">info_outline</i></button>
                                                   </center>
                                               </td>
                                             {% else %}
                                                 <td><center><button id="info{{ user.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-2" value="{{ user.id }}"><i class="material-icons">info_outline</i></button></center></td>
                                             {% endif %}
                                         {% else %}
                                              <td>
                                              <center>
                                                  <a href="{% url 'edituser' user.id %}" class="btn-floating btn-small waves-effect waves-light blue lighten-2" ><i class="material-icons">create</i></a>&nbsp;&nbsp;
                                                  <button id="info{{ user.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-2" value="{{ user.id }}"><i class="material-icons">info_outline</i></button>
                                              </center>
                                              </td>
                                         {% endif %}

                                     {% endif %}
                                 {% endfor %}

                             </tr>

                         {% endfor %}
                </tbody>
        </table>
            <div class="section"></div>
        </div>

      <!--------------------------------------- ALL MODALS ARE HERE ---------------------------------------------------->
            <div id="infoUser" class="modal">
                <div class="modal-content">
                  <h4>User Details</h4>
                  <div class="col s12 m12 l12 ">
                    <div class="row">
                        <table>
                        </table>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                    </div>
                </div>
                </div>
            </div>

            <!---------------------------------------------------------------------------------------------------------------->


    <script>

    $(document).ready(function(){
        $('.modal').modal();
      });

    $("button[id*='info']").click(function () {
        var userid = $(this).val();

        $.ajax({
        url: '{% url 'get_user_details' %}',
        data: {
          'userid': userid
        },
        dataType: 'json',
        success: function (data) {
            var check = "";
            for(let i = 0; i < data.length; i++){
                check += data[i].extra;
            }
            var sex = "";
            if(data[0].sex == "M")
                sex = "Male";
            else
                sex = "Female";

            var info = "<div class=\"modal-content\">\n" +
                "                  <h4>User Details</h4>\n" +
                "                  <div class=\"col s12 m12 l12 \">\n" +
                "                    <div class=\"row\">\n" +
                "\n" +
                "                        <table>\n" +
                "\n" +
                "                            <tr>\n" +
                "\n" +
                "                                <th>Name</th>\n" +
                "                                <td>"+data[0].name+"</td>\n" +
                "\n" +
                "                            </tr>\n" +
                "                            <tr>\n" +
                "\n" +
                "                                <th>Sex</th>\n" +
                "                                <td>"+sex+"</td>\n" +
                "\n" +
                "                            </tr>\n" +
                 "                            <tr>\n" +
                "\n" +
                "                                <th>Birthday</th>\n" +
                "                                <td>"+data[0].birthday+"</td>\n" +
                "\n" +
                "                            </tr>\n" +
                "                            <tr>\n" +
                "\n" +
                "                                <th>Contact Number</th>\n" +
                "                                <td>"+data[0].contactno+"</td>\n" +
                "\n" +
                "                            </tr>\n"
                "                            <tr>\n";

            if(data[0].usertype == 3){
                info+= "<th>Assigned Patients</th>";
                info+= "<td>" + data[0].extra + "</td>";
                info += "<tr>" +
                        "<th>License Number</th>" +
                        "<td>" + data[0].licensenumber + "</td>" +
                        "</tr>";
            }
            else if(data[0].usertype == 4){
                info+= "<th>Assigned Doctor</th>";
                info+= "<td>" + data[0].extra + "</td>";
            }
            info +=
                "\n" +
                "                            </tr>\n" +
                "\n" +
                "                        </table>\n" +
                "                    </div>\n" +
                "                    <div class=\"modal-footer\">\n" +
                "                      <a href=\"#!\" class=\"modal-close waves-effect waves-green btn-flat\">Back</a>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "                </div>\n";

            $("#infoUser").html(info);

            $('.modal').modal('open');
        }
      });

    });
    </script>

    <script>
            $(document).ready(function() {
            $('#alertsTable').DataTable({
        "order": [[ 6, "desc" ]]
    } );
        } );
    </script>
{% endblock %}