{% extends "home/adminHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
        <div class="col s12 m12 l12 center white">
            <div class="row">        
                <div class="section"></div>
                <div class="col s3"></div>
                <div class="col s6">        
                    <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">list</i>&nbsp;&nbsp; View List of Users</h3>
                </div>
                <div class="col s3" style ="padding: 0px 40px 0px 20px">
                        <div class="input-field grey lighten-3">
                          <input id="search" type="search" required>
                          <label class="label-icon" for="search"><i class="material-icons" id="searchIcon">search</i></label>
                          <i class="material-icons">close</i>
                        </div>
                </div>
            </div>
            <div class="section"></div>
            <div class="divider"></div>
            <div class="section"></div>
                    
        </div>
        <div id='view-users' class="col s12 m12 l12 white" style="padding: 0px 20px 0px 30px">

                    <table class="striped centered">
                        <thead>
                          <tr>
                              <th>Username</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>User Type</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>
                         {% for user in user_list %}
                             <tr>
                                <td>{{ user.username }}</td>
                                 <td>{{ user.first_name }}</td>
                                 <td>{{ user.last_name }}</td>
                                 <td>{{ user.email }}</td>
                                 {% for userdetails in user_details_list %}
                                     {% if userdetails.userid == user.id %}
                                         <td>{{ userdetails.usertype.type }}</td>
                                     {% endif %}
                                 {% endfor %}


                                 {% if user.is_active == 0 %}
                                 <td>Inactive</td>
                                 {% else  %}
                                 <td>Active</td>
                                 {% endif %}
                                {% for userdetails in user_details_list %}
                                     {% if userdetails.userid == user.id %}
                                         {% if current_user_type == 2 %}
                                             {% if userdetails.usertype.usertypeid > 2 %}
                                               <td><a href="{% url 'edituser' user.id %}" class="btn-floating btn-small waves-effect waves-light blue lighten-2" ><i class="material-icons">create</i></a>&nbsp;&nbsp;
                                                   <a class="btn-floating btn-small waves-effect waves-light red lighten-2"><i class="material-icons">clear</i></a>&nbsp;&nbsp;
                                                   <button id="info{{ user.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-2" value="{{ user.id }}"><i class="material-icons">info_outline</i></button>
                                               </td>
                                             {% else %}
                                                 <td><button id="info{{ user.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-2" value="{{ user.id }}"><i class="material-icons">info_outline</i></button></td>
                                             {% endif %}
                                         {% else %}
                                              <td>
                                                  <a href="{% url 'edituser' user.id %}" class="btn-floating btn-small waves-effect waves-light blue lighten-2" ><i class="material-icons">create</i></a>&nbsp;&nbsp;
                                                  <a class="btn-floating btn-small waves-effect waves-light red lighten-2"><i class="material-icons">clear</i></a>&nbsp;&nbsp;
                                                  <button id="info{{ user.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-2" value="{{ user.id }}"><i class="material-icons">info_outline</i></button>
                                              </td>
                                         {% endif %}

                                     {% endif %}
                                 {% endfor %}

                             </tr>

                         {% endfor %}
                        </tbody>
                      </table>

            <div class="section"></div>
            <!--<ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
                -->
                
        </div>

      <!--------------------------------------- ALL MODALS ARE HERE ---------------------------------------------------->
            <div id="infoUser" class="modal">
                <div class="modal-content">
                  <h4>User Details</h4>
                  <div class="col s12 m12 l12 ">
                    <div class="row">

                    <div class="input-field col s4">
                      <input type="text" class="validate" value="Panis" disabled>
                      <label>Name</label>
                    </div>

                    <div class="input-field col s4">
                      <input type="text" class="validate" value="May 27, 1998" disabled>
                      <label>Birthday</label>
                    </div>

                    <div class="input-field col s4">
                      <input type="text" class="validate" value="09157730969" disabled>
                      <label>Contact No</label>
                    </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s4">
                          <input type="text" class="validate" value="Mark" disabled>
                          <label>Assigned Doctor</label>
                    </div>
                      </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                </div>
            </div>

            <!---------------------------------------------------------------------------------------------------------------->


    <script>

    $(document).ready(function(){
        $('.modal').modal();
      });

    $("button[id*='info']").click(function () {
        var userid = $(this).val();

        console.log(userid);

        $.ajax({
        url: '{% url 'get_user_details' %}',
        data: {
          'userid': userid
        },
        dataType: 'json',
        success: function (data) {
            var check = "";
            for(let i = 0; i < data.length; i++){
                check += data[i].extra;
            }

            console.log(check);
            var info = "<div class=\"modal-content\">\n" +
            "                  <h4>User Details</h4>\n" +
            "                  <div class=\"col s12 m12 l12 \">\n" +
            "                    <div class=\"row\">\n" +
            "\n" +
            "                    <div class=\"input-field col s4\">\n" +
            "                      <input type=\"text\" class=\"validate\" value=\"Panis\" disabled>\n" +
            "                      <label>Name</label>\n" +
            "                    </div>\n" +
            "\n" +
            "                    <div class=\"input-field col s4\">\n" +
            "                      <input type=\"text\" class=\"validate\" value=\"May 27, 1998\" disabled>\n" +
            "                      <label>Birthday</label>\n" +
            "                    </div>\n" +
            "\n" +
            "                    <div class=\"input-field col s4\">\n" +
            "                      <input type=\"text\" class=\"validate\" value=\"09157730969\" disabled>\n" +
            "                      <label>Contact No</label>\n" +
            "                    </div>\n" +
            "                      </div>\n" +
            "\n" +
            "                      <div class=\"row\">\n" +
            "                        <div class=\"input-field col s4\">\n" +
            "                          <input type=\"text\" class=\"validate\" value=\"Mark\" disabled>\n" +
            "                          <label>Assigned Doctor</label>\n" +
            "                    </div>\n" +
            "                      </div>\n" +
            "\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "                <div class=\"modal-footer\">\n" +
            "                    <a href=\"#!\" class=\"modal-close waves-effect waves-green btn-flat\">Back</a>\n" +
            "                </div>";

            $('.modal').modal('open');
        }
      });

    });

    $("#search").keypress(function () {
      var search = $(this).val();

      $.ajax({
        url: '{% url 'search_user' %}',
        data: {
          'search': search
        },
        dataType: 'json',
        success: function (data) {
          var searched_data = " <table class=\"striped centered\">" +
              "                        <thead>" +
              "                          <tr>" +
              "                              <th>Username</th>" +
              "                              <th>First Name</th>" +
              "                              <th>Last Name</th>" +
              "                              <th>Email</th>" +
              "                              <th>User Type</th>" +
              "                              <th>Status</th>" +
              "                              <th>Action</th>" +
              "                          </tr>\n" +
              "                        </thead>\n" +
              "\n" +
              "                        <tbody>\n" +
              "                          \n";

          for(let i = 0; i < data.length; i++){
              searched_data += "<tr>";
              searched_data += "<td>" + data[i].userName + "</td>";
              searched_data += "<td>" + data[i].firstname + "</td>";
              searched_data += "<td>" + data[i].lastname + "</td>";
              searched_data += "<td>" + data[i].email + "</td>";
              searched_data += "<td>" + data[i].usertype + "</td>";
              if(data[i].status == true)
                searched_data += "<td>Active</td>";
              else
                  searched_data += "<td>Inactive</td>";

              let link = '/listofusers/' + data[i].id + '/edituser/';
              {% if current_user_type == 2 %}
                  if(data[i].usertype == "Doctor" || data[i].usertype == "Patient") {
                      searched_data += "<td><a href="+ link + " class='btn-floating btn-small waves-effect waves-light blue lighten-2' ><i class='material-icons'>create</i></a>&nbsp;&nbsp;<a class='btn-floating btn-small waves-effect waves-light red lighten-2'><i class='material-icons'>clear</i></a>&nbsp;&nbsp;";
                      searched_data += "<button id='info" + data[i].id + "' class='btn-floating btn-small waves-effect waves-light green lighten-2' value='" + data[i].id + "'><i class='material-icons'>info_outline</i></button>";
                      searched_data += "</td>";
                  }
                  else {
                      searched_data += "<td>";
                      searched_data += "<button id='info" + data[i].id + "' class='btn-floating btn-small waves-effect waves-light green lighten-2' value='" + data[i].id + "'><i class='material-icons'>info_outline</i></button>";
                      searched_data += "</td>";
                  }
              {% else %}
                      searched_data += "<td><a href="+ link + " class='btn-floating btn-small waves-effect waves-light blue lighten-2' ><i class='material-icons'>create</i></a>&nbsp;&nbsp;<a class='btn-floating btn-small waves-effect waves-light red lighten-2'><i class='material-icons'>clear</i></a>&nbsp;&nbsp;";
                      searched_data += "<button id='info" + data[i].id + "' class='btn-floating btn-small waves-effect waves-light green lighten-2' value='" + data[i].id + "'><i class='material-icons'>info_outline</i></button>";
                      searched_data += "</td>";
              {% endif %}

              searched_data += "</tr>";
          }

          searched_data += "</tbody>";
          searched_data += "</table>";
          searched_data += "<div class='section'></div>";

//          console.log(searched_data);
          $("#view-users").html(searched_data);
        }
      });

    });
    </script>
{% endblock %}