{% extends "home/patientHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <style>
#chartdiv3 {
	width	: 90%;
	height	: 150px;
}
#chartdiv2 {
	width	: 100%;
	height	: 300px;
}

</style>
<script>
    var chart = AmCharts.makeChart("chartdiv2", {
    "type": "serial",
    "theme": "light",
    "marginRight": 70,
    "autoMarginOffset": 20,
    "dataProvider": [{
        "year": "1995",
        "value": 0.177
    }, {
        "year": "1996",
        "value": 0.104
    }, {
        "year": "1997",
        "value": 0.255
    }, {
        "year": "1998",
        "value": 0.21
    }, {
        "year": "1999",
        "value": 0.065
    }, {
        "year": "2000",
        "value": 0.11
    }, {
        "year": "2001",
        "value": 0.172
    }, {
        "year": "2002",
        "value": 0.462
    }, {
        "year": "2003",
        "value": 0.47
    }, {
        "year": "2004",
        "value": 0.445
    }, {
        "year": "2005",
        "value": 0.47
    }],
    "balloon": {
        "cornerRadius": 6
    },
    "valueAxes": [{
        "axisAlpha": 0
    }],
    "graphs": [{
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]] C</span></b>",
        "bullet": "round",
        "bulletSize": 6,
        "connect": false,
        "lineColor": "#b6d278",
        "lineThickness": 2,
        "negativeLineColor": "#487dac",
        "valueField": "value"
    }],
    "chartCursor": {
        "categoryBalloonDateFormat": "YYYY",
        "cursorAlpha": 0.1,
        "cursorColor": "#000000",
        "fullWidth": true,
        "graphBulletSize": 2
    },
    "chartScrollbar": {},
    "dataDateFormat": "YYYY",
    "categoryField": "year",
    "categoryAxis": {
        "minPeriod": "YYYY",
        "parseDates": true,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    }
});

    var chart = AmCharts.makeChart("chartdiv3", {
    "type": "serial",
    "theme": "light",
    "marginRight": 70,
    "autoMarginOffset": 20,
    "dataProvider": [{
        "year": "1995",
        "value": 0.177
    }, {
        "year": "1996",
        "value": 0.104
    }, {
        "year": "1997",
        "value": 0.255
    }, {
        "year": "1998",
        "value": 0.21
    }, {
        "year": "1999",
        "value": 0.065
    }, {
        "year": "2000",
        "value": 0.11
    }, {
        "year": "2001",
        "value": 0.172
    }, {
        "year": "2002",
        "value": 0.462
    }, {
        "year": "2003",
        "value": 0.47
    }, {
        "year": "2004",
        "value": 0.445
    }, {
        "year": "2005",
        "value": 0.47
    }],
    "balloon": {
        "cornerRadius": 6
    },
    "valueAxes": [{
        "axisAlpha": 0
    }],
    "graphs": [{
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]] C</span></b>",
        "bullet": "round",
        "bulletSize": 6,
        "connect": false,
        "lineColor": "#b6d278",
        "lineThickness": 2,
        "negativeLineColor": "#487dac",
        "valueField": "value"
    }],
    "chartCursor": {
        "categoryBalloonDateFormat": "YYYY",
        "cursorAlpha": 0.1,
        "cursorColor": "#000000",
        "fullWidth": true,
        "graphBulletSize": 2
    },
    "chartScrollbar": {},
    "dataDateFormat": "YYYY",
    "categoryField": "year",
    "categoryAxis": {
        "minPeriod": "YYYY",
        "parseDates": true,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    }
});

    $(document).ready(function(){
        $('.sidenav').sidenav();
    })

     $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>


        <div class="col s12 m12 l12  white">

            <div class="row center">
                <div class="section"></div>
                <div class="col s3"></div>
                <div class="col s6">
                    <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">list</i>&nbsp;&nbsp; View Current Vitals</h3>
                     Date: <b>September 30, 2018</b> | 11:30 PM | Records every <b>4</b> hours.
                <!-- Maglalagay ako ng realtime clock dito -->
                </div>
                <div class="col s3"></div>
            </div>
            <div class="section"></div>
            <div class="divider"></div>
            <div class="section"></div>

            <div class="row white" style="margin: 10px">

                            <div class="col s12 white center">
                                    <h5 class="center"><b>Dela Cruz, Jhoana</b></h5>
                                    As of 4:00 PM
                                    <h6 class="center green lighten-4">ECG</h6>
                                    <div id="chartdiv2"></div>
                                    <div class="col s6 center green lighten-4">
                                        <h6 class="center">Temperature</h6>
                                        <h4 class="center">37.9°C</h4>
                                    </div>
                                    <div class="col s6 center green lighten-5">
                                        <h6 class="center">Heartrate</h6>
                                        <h4 class="center">73 bpm</h4>
                                    </div>
                </div></div>

            <div class="divider"></div>
            <div class="section"></div>
                <div class="row white" style="margin: 10px">
                    <table>
                        <thead>
                          <tr>
                              <th>Time</th>
                              <th>ECG</th>
                              <th>Temperature</th>
                              <th>Heart Rate</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                            <td>10:00PM</td>
                            <td><div id="chartdiv3"></div></td>
                            <td>37.4°C</td>
                            <td>72 bpm</td>
                          </tr>
                        </tbody>
                      </table>
            </div>
        </div>
            <div class="section"></div>
            <div class="section"></div><div class="section"></div>


{% endblock %}