{% extends "home/adminHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
        <title> OPMS - Fill Out Medical Form </title>
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->
        <div class="white">
            <div class="col s12 m12 l12 center white">

                <h3 id="greeting"><i class="material-icons" style="font-size: 40px;">description</i>&nbsp;&nbsp; Medical History Form</h3>
                <small>Form is created with the patient's consent and approval. Patient's medical history can only be viewed by the assigned specialist based on the patient's approval.</small>
                <div class="divider"></div>
                <div class="section"></div>

            </div>
            <form action="{% url 'filloutmedicalform' %}" style="padding: 0px 20px 0px 30px" method="post">
                {% csrf_token %}

                <center>
                    <div class="row">
                        <label style="text-align: left;">Patient Name</label>
                          {{ form.patientid }}
                    </div>
                </center>


                <div class="col s12 m12 l12 white">
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.presentcomplaint }}
                          <label for="presentComplaint">Present Complaint</label>
                        </div>
                        <div class="input-field col s6">
                            {{ form.historyofpresentcomplaint }}
                          <label for="historyPresentComplaint">History of Present Complaint</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            {{ form.pastmedicalhistory }}
                          <label for="pastMedicalHistory">Past Medical History (if any)</label>
                        </div>
                        <div class="input-field col s3">
                            {{ form.drughistory }}
                          <label for="drugHistory">Drug History (if any)</label>
                        </div>
                        <div class="input-field col s3">
                            {{ form.familyhistory }}
                          <label for="familyHistory">Family History (if any)</label>
                        </div>
                        <div class="input-field col s3">
                            {{ form.socialhistory }}
                          <label for="socialHistory">Social History (if any)</label>
                        </div>
                    </div>
                </div>
                <br />
                <center>
                    <button type='submit' name='btn_login' class='col s3 btn btn-large waves-effect'>SUBMIT FORM</button>
                </center>
              </form>
            <br />
            <section></section>
            <section></section>
            <section></section>
            </div>

<script>
    $( document ).ready(function() {
        var message = "";
        message = "{{ message }}";
        if(message == "Medical Form Created")
            alert(message);
});
</script>
{% endblock %}