{% extends "home/patientHeaderFooter.html" %}

{% load staticfiles%}

{% block content %}
    <title> OPHM - Frequently Asked Questions </title>
 <div class ="white">

            <div class="row center">

                <div class="section"></div>
                <h4><i class="material-icons small">help</i> <b>Frequently Asked Questions</b></h4></b>
                <br>
                <div class="divider"></div>

            </div>

            <div class="container">

                <b>1. Can I view my account using my phone?</b>
                <br>
                Yes, our system is accessible in mobile devices as long as you have internet connection.

                <br><br>

                <b>2. Am I required to have internet connection when recording my vitals?</b>
                <br>
                Yes, as much as possible, so that the results can be viewed easily on your account.

                <br><br>

                <b>3. Can I update my password and personal information using this account?</b>
                <br>
                Yes, you can update them on the <a href="{% url 'managepatientaccount' %}">Manage Account</a> page. You can find it under the Modules tab.

                <br><br>

                <b>4. Can I restrict the access of my data to other users?</b>
                <br>
                Yes, you can do it here on the <a href="{% url 'restrictuseraccess' %}">Restrict Access</a> page. You can also find it under the Modules tab.

                <br><br>

                <b>5. Can I change my doctor?</b>
                <br>
                No, but you can <u>allow a doctor that has an account for this system to access and view your data</u>. You can also do it here on the <a href="{% url 'restrictuseraccess' %}">Restrict Access</a> page.

                <br><br>

                <b>6. Can I create a new account in this system?</b>
                <br>
                No, only the admin can create accounts for users.

                <br><br>

                <b>7. Can I let others access my account for me?</b>
                <br>
                As much as possible, we prefer if you are the only one who can access your account. Please be mindful that <u>you are the one in control of your own sensitive information</u>. So in case your data are accessed by others, you are the one responsible for giving them access.

                <br><br>

                <b>8. As for the 5000 PHP collateral money, will I be able to get it back once I am done using the system and the device?</b>
                <br>
                Yes. The payment will only be refundable <b>IF AND ONLY IF <u>the device is returned safely and does not have any damages</u></b>. We will be checking first as soon as you return it to us.

                <br><br>The payment will <B><u>NOT</u></B> be refundable in cases such as:
                <ol>

                    <li>Device gets broken while being used. You are required to <u>bring the device to the hospital for it to be replaced by a new one</u>. Payment will not be returned anymore since it will be used for the broken device.</li>
                    <li>You were not able to return the device back on its due date.</li>

                </ol>

                <b>9. What if I do not give back my device on its due date?</b>
                <br>
                We will be contacting you about it. You are required to return the device at the required date set by the doctor that is indicated in the consent form.

                <br><br>


                <b class="red-text">10. Will I be able to access my data using my account forever?</b> - di ako sure haha so double check.
                <br>
                Yes. Although if an account is inactive after a month, the account is up for reactivation to the admin.

                <br><br>

                </div>
            <div class="section"></div>
        </div>



{% endblock %}
