{% extends "home/adminHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
    <style>
    select{
        display: block;
    }
    </style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.js"></script>
    <title>OPHM - Homepage</title>
    <div class ="white">
            <div class="row white">

                <div class="col s12 m12 l12 center">
                    <h3 id="greeting">Welcome, Admin!</h3>
                    What do you want to do today?<br/>
                    <div class="divider"></div>
                </div>

            </div>
        </div>

        <div class="white">

            <div class ="row" style="padding: 20px;">

                <div class="col s12 m4 l4">

                    <h5><i class="material-icons left">access_time</i><b>Clock</b></h5><br/>

                    <div class="col s12 teal lighten-2 z-depth-1 center" style="padding: 3%; border-radius: 10px;">
                        <h3><center class="white-text">{% now "F t, Y" %}</center></h3>
                        <h2><b><p class="white-text" id="txt" align="center"></p></b></h2>
                    </div>

                </div>
                <div class="col s12 m4 l4 white">
                    <h5><i class="material-icons left" >group</i><b>Newly Added Users</b></h5><br/>
                    <div class="col s12 teal z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                         <span class="white-text">
                         <center>
                         <table class="white-text centered">
                             <thead>
                                <th>Name</th>
                                <th>Time Created</th>
                             </thead>
                         </table>
                         </center>
                         <div style="height: 130px; overflow:auto; padding: 1%;">
                             <table class="white-text centered">
                             <tbody>
                             {% for newuser in newusers %}
                                 <tr>
                                    <td>{{ newuser.first_name }} {{ newuser.last_name }}</td>
                                    <td>{{ newuser.date_joined.date|date:"Y-m-d" }} {{ newuser.date_joined.time|time:"H:i:s" }}</td>
                                 </tr>
                             {% endfor %}
                             </tbody>
                         </table>
                         </div>
                             <br/>
                             <div class="center"><a href="{% url 'listofusers' %}" class="waves-effect waves-light btn teal darken-3">View All Users</a></div>

                        </span>
                    </div>

                </div>
                <div class="col s12 m4 l4">
                    <h5><i class="material-icons left">group</i><b>Last Log In</b></h5><br/>
                    <div class="col s12 teal darken-2 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                         <span class="white-text">
                         <table class="white-text centered">
                                 <thead>
                                    <th>Name</th>
                                    <th>Last Log In Time</th>
                                 </thead>
                         </table>
                         <div style="height: 187px; overflow:auto; padding: 1%;">
                             <table class="white-text centered">
                                 <tbody>
                                 {% for user in allusers %}
                                     <tr>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.last_login.date|date:"Y-m-d" }} {{ user.last_login.time|time:"H:i:s" }}</td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row" style="padding: 20px;">

                <div class="col s12 m12 l12">
                    <h5><i class="material-icons left">group</i><b>Devices Currently In Use</b></h5>
                    <a href="{% url 'changeuserofdevice' %}" class="waves-effect waves-light btn">Assign Devices</a>
                <br><br>
                    <center>
                        <table id="patientsTable" class="cell-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Device Assigned</th>
                                <th>Doctor Assigned</th>
                                <th>Device Return Deadline Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patient_list %}
                                {% if patient.currentdeviceid != 0 %}
                                    <tr>
                                        <td>{{ patient.userid.auth_user_id.first_name }} {{ patient.userid.auth_user_id.last_name }}</td>
                                        <td>{{ patient.currentdeviceid }}</td>
                                        <td>{{ patient.doctorid.userid.auth_user_id.first_name }} {{ patient.doctorid.userid.auth_user_id.last_name }}</td>
                                        <td>{{ patient.deadlinereturndate }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    </center>

                </div>

            </div>
        </div>

<script>
$(document).ready(function() {
    $('#patientsTable').DataTable({
        "order": [[ 1, "asc" ]]
    });
});
</script>
{% endblock %}

