<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/HOMEPAGE.css' %}">

</head>

<link rel="icon" href="{% static 'img/Logo_Colored.png' %}">

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.parallax').parallax();
    })
</script>

    <body>

        <!--------------------------------------------------------- START / NAV BAR --------------------------------------------------------->
            <nav class="z-depth-0" style="padding: 0px 10px 10px 10px; background-color: rgba(255, 255, 255, 0.2);">
                <div class="nav-wrapper">
                    <a href="{% url 'home' %}" class="brand-logo"><img class="responsive-image" id="logo" src="{% static 'img/Logo_Colored_4.png' %}"/></a>

                    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                        <i class="material-icons">menu</i>
                    </a>

                    <ul class="right hide-on-med-and-down" id="deets" style="">
                        <li><a href="{% url 'notifications' %}" class="black-text"><i class="material-icons left black-text">notification_important</i>Notifications</a></li>
                        <li><a href="{% url 'managedoctoraccount' %}" class="black-text"><i class="material-icons left black-text">account_circle</i>Manage Account</a></li>
                        <li><a href="{% url 'index' %}" class="black-text"><i class="material-icons left black-text" >input</i>Log Out</a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-nav">
                <li><a href="{% url 'notifications' %}" class="black-text"><i class="material-icons left black-text">notification_important</i>Notifications</a></li>
                <li><a href="{% url 'managedoctoraccount' %}" class="black-text"><i class="material-icons left black-text">account_circle</i>Manage Account</a></li>
                <li><a href="{% url 'index' %}" class="black-text"><i class="material-icons left black-text" >input</i>Log Out</a></li>
            </ul>

        <div class="parallax-container">
            <div class="parallax"><img src="{% static 'img/parallax.png' %}"></div>
        </div>
        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->

                    <!------------------------------------- ROW1- What to do? ------------------------------------------->

        {% block content %}
        {% endblock %}

        <div class="parallax-container">
            <div class="parallax"><img src="{% static 'img/parallax_2.png' %}"></div>
        </div>
        <!----------------------------------------------------- FOOTER STARTS HERE ----------------------------------------------------------->
            <footer class="page-footer" style="background-color: rgba(255, 255, 255, 0.3);">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="black-text">About the SiteName</h5>
                    <p class="black-text">This SiteName is a system created to be able to </p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Links</h5>
                    <ul>
                      <li><a class="black-text" href="#!">Link 1</a></li>
                      <li><a class="black-text" href="#!">Link 2</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container black-text">
                © 2018 All Rights Reserved
                <a class="black-text right" href="#!">More Links</a>
                </div>
              </div>
            </footer>
        </div>
    </body>
</html>