{% extends "home/doctorHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
    <title>OPMS</title>

    <div class="row white">

                <div class="col s12 m12 l12 center">

                    <div class="section"></div>

                    <h3 id="greeting">Good day, Doctor {{ user_details.auth_user_id.last_name}}!</h3>
                    What do you want to do today?<br/>
                    <div class="section"></div>
                    <div class="divider"></div>
                    <div class="section"></div>

                </div>

                <div class="col s6 center teal lighten-2" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'viewassignedpatients'%}"><img class="responsive-image" src="{% static 'img/viewlistofusers.png' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">View Assigned Patients</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, dapat naka-under na dito yung View Patient Medical Record + View Patient Records? Sorry bobo
                    </p>

                </div>

                <div class="col s6 center teal lighten-3" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'managedevicerecording' %}"><img class="responsive-image" src="{% static 'img/manageDeviceRecords.png' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">Manage Device Recording</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin facilisis turpis, id rhoncus magna fermentum sed. Nunc vel venenatis mauris.
                    </p>
                </div>

        </div>
    

{% endblock %}

