{% extends "home/userHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
#chartdiv {
	width	: 100%;
	height	: 300px;
}
#chartdiv2 {
	width	: 100%;
	height	: 300px;
}

</style>

<script>var chart = AmCharts.makeChart("chartdiv2", {
    "type": "serial",
    "theme": "light",
    "marginRight": 70,
    "autoMarginOffset": 20,
    "dataProvider": [{
        "year": "1995",
        "value": 0.177
    }, {
        "year": "1996",
        "value": 0.104
    }, {
        "year": "1997",
        "value": 0.255
    }, {
        "year": "1998",
        "value": 0.21
    }, {
        "year": "1999",
        "value": 0.065
    }, {
        "year": "2000",
        "value": 0.11
    }, {
        "year": "2001",
        "value": 0.172
    }, {
        "year": "2002",
        "value": 0.462
    }, {
        "year": "2003",
        "value": 0.47
    }, {
        "year": "2004",
        "value": 0.445
    }, {
        "year": "2005",
        "value": 0.47
    }],
    "balloon": {
        "cornerRadius": 6
    },
    "valueAxes": [{
        "axisAlpha": 0
    }],
    "graphs": [{
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]] C</span></b>",
        "bullet": "round",
        "bulletSize": 6,
        "connect": false,
        "lineColor": "#b6d278",
        "lineThickness": 2,
        "negativeLineColor": "#487dac",
        "valueField": "value"
    }],
    "chartCursor": {
        "categoryBalloonDateFormat": "YYYY",
        "cursorAlpha": 0.1,
        "cursorColor": "#000000",
        "fullWidth": true,
        "graphBulletSize": 2
    },
    "chartScrollbar": {},
    "dataDateFormat": "YYYY",
    "categoryField": "year",
    "categoryAxis": {
        "minPeriod": "YYYY",
        "parseDates": true,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    }
});

var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 70,
    "autoMarginOffset": 20,
    "dataProvider": [{
        "year": "1995",
        "value": 1
    }, {
        "year": "1996",
        "value": 0.104
    }, {
        "year": "1997",
        "value": 0.255
    }, {
        "year": "1998",
        "value": 0.21
    }, {
        "year": "1999",
        "value": 0.065
    }, {
        "year": "2000",
        "value": 0.11
    }, {
        "year": "2001",
        "value": 0.172
    }, {
        "year": "2002",
        "value": 0.462
    }, {
        "year": "2003",
        "value": 0.47
    }, {
        "year": "2004",
        "value": 0.445
    }, {
        "year": "2005",
        "value": 0.47
    }],
    "balloon": {
        "cornerRadius": 6
    },
    "valueAxes": [{
        "axisAlpha": 0
    }],
    "graphs": [{
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]] C</span></b>",
        "bullet": "round",
        "bulletSize": 6,
        "connect": false,
        "lineColor": "#b6d278",
        "lineThickness": 2,
        "negativeLineColor": "#487dac",
        "valueField": "value"
    }],
    "chartCursor": {
        "categoryBalloonDateFormat": "YYYY",
        "cursorAlpha": 0.1,
        "cursorColor": "#000000",
        "fullWidth": true,
        "graphBulletSize": 2
    },
    "chartScrollbar": {},
    "dataDateFormat": "YYYY",
    "categoryField": "year",
    "categoryAxis": {
        "minPeriod": "YYYY",
        "parseDates": true,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    }
});
</script>

    <div class="row white">

                <div class="col s12 m12 l12 center">

                    <div class="section"></div>

                    <h3 id="greeting">Good day, Doctor {{ user_details.auth_user_id.last_name}}!</h3>
                    What do you want to do today?<br/>
                    <div class="section"></div>
                    <div class="divider"></div>
                    <div class="section"></div>

                </div>

                <div class="col s4 m4 l4 center teal lighten-2" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'viewassignedpatients'%}"><img class="responsive-image" src="{% static 'img/viewlistofusers.png' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">View Assigned Patients</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, dapat naka-under na dito yung View Patient Medical Record + View Patient Records? Sorry bobo
                    </p>

                </div>

                <div class="col s4 m4 l4 center teal lighten-3" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'changerecordinginterval' %}"><img class="responsive-image" src="{% static 'img/changeinterval.PNG' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">Change Recording Interval</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin facilisis turpis, id rhoncus magna fermentum sed. Nunc vel venenatis mauris.
                    </p>


                </div>

                <div class="col s4 m4 l4 center teal lighten-4" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'stoprecording' %}"><img class="responsive-image" src="{% static 'img/stoprecord.PNG' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">Stop Recording</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin facilisis turpis, id rhoncus magna fermentum sed. Nunc vel venenatis mauris.
                    </p>

                </div>

        </div>
                    <!------------------------------------- ROW2- Guide on Knowing ------------------------------------------>

            <div class="col s12 white">
                <div class="row white">
                    <div class="col s12 center white">
                        <div class="section"></div>
                        <div class="divider"></div>
                        <h3 class="center" id="greeting">Current Vitals Recorded from Patients</h3>
                        Date: <b>September 30, 2018</b> | 11:30 PM
                <!-- Maglalagay ako ng realtime clock dito -->
                        <div class="section"></div>

                    <div class="row white" style="margin: 10px">
                            <div class="col s12 white">

                                {% if patient_list.count == 0%}
                                    No patients
                                {% else %}
                                    {% for patient_device in patient_deivce_list %}
                                        <div class="col s6 white">
                                            <h5 class="center green lighten-3"><b>{{ patient_device.patient_patientid.userid.lastname }}, {{ patient_device.patient_patientid.userid.lastname }}</b></h5>
                                            <h6 class="center green lighten-4">ECG</h6>
                                            <div id="chartdiv"></div>
                                            <div class="col s6 center green lighten-4">
                                                <h6 class="center">Temperature</h6>
                                                {% for temperature in temperature_list %}
                                                    {% if temperature.patientid.patient_patientid == patient_device.patient_patientid and temperature.deviceid.device_deviceid == patient_device.device_deviceid %}
                                                        <h4 class="center">{{ temperature.data }}°C</h4>
                                                    {% else %}
                                                        <h4 class="center">0°C</h4>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="col s6 center green lighten-5">
                                                <h6 class="center">Heartrate</h6>
                                                <h4 class="center">73 bpm</h4>
                                            </div>
                                            <a class="right btn-small waves-effect waves-light green lighten-2" href=""> View History of Vitals
                                                <i class="material-icons left">person_outline</i>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
<!--
                                <div class="col s6 white">
                                    <h5 class="center green lighten-3"><b>Dela Cruz, Jhoana</b></h5>
                                    <h6 class="center green lighten-4">ECG</h6>
                                    <div id="chartdiv"></div>
                                    <div class="col s6 center green lighten-4">
                                        <h6 class="center">Temperature</h6>
                                        <h4 class="center">37.9°C</h4>
                                    </div>
                                    <div class="col s6 center green lighten-5">
                                        <h6 class="center">Heartrate</h6>
                                        <h4 class="center">73 bpm</h4>
                                    </div>
                                    <a class="right btn-small waves-effect waves-light green lighten-2" href=""> View History of Vitals
                                    <i class="material-icons left">person_outline</i>
                                  </a>
                                </div>
                                <div class="col s6 center white">
                                    <h5 class="green lighten-3"><b>Botabara, Tommy</b></h5>
                                    <h6 class="center green lighten-4">ECG</h6>
                                    <div id="chartdiv2"></div>
                                    <div class="col s6 center green lighten-4">
                                        <h6 class="center">Temperature</h6>
                                        <h4 class="center">38°C</h4>
                                    </div>
                                    <div class="col s6 center green lighten-5">
                                        <h6 class="center">Heartrate</h6>
                                        <h4 class="center">81 bpm</h4>
                                    </div>
                                    <a class="right btn-small waves-effect waves-light green lighten-2" href=""> View History of Vitals
                                    <i class="material-icons left">person_outline</i>
                                  </a>
                                </div>

                            -->
                            </div>
                        </div>
                    </div>
                </div>
    </div>


{% endblock %}

