{% extends "home/patientHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
    <title>OPMS</title>
    <div class="row white">

                <div class="col s12 m12 l12 center">

                    <div class="section"></div>

                    <h3 id="greeting">Good day, {{ user_details.auth_user_id.first_name }} {{ user_details.auth_user_id.last_name }}!</h3>
                    What do you want to do today?<br/>
                    <div class="section"></div>
                    <div class="divider"></div>
                    <div class="section"></div>

                </div>

                <div class="col s4 m4 l4 center teal lighten-2" style="padding: 30px 20px 20px 20px;">

                    <A href="{% url 'viewcurrentvitals' %}"><img class="responsive-image" src="{% static 'img/currentvitals.PNG' %}" height="200px;"/></A>
                    <div class="section"></div>
                    <h6 id="greeting">View Today's Latest Vitals</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin facilisis turpis, id rhoncus magna fermentum sed. Nunc vel venenatis mauris.
                    </p>

                </div>

                <div class="col s4 m4 l4 center teal lighten-3" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'viewhistoryofvitals' %}"><img class="responsive-image" src="{% static 'img/history_currentvitals.png' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">View History of Records</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin facilisis turpis, id rhoncus magna fermentum sed. Nunc vel venenatis mauris.
                    </p>


                </div>

                <div class="col s4 m4 l4 center teal lighten-4" style="padding: 30px 20px 20px 20px;">

                    <a href="{% url 'restrictuseraccess' %}"><img class="responsive-image" src="{% static 'img/restrictuseraccess.PNG' %}" height="200px;"/></a>
                    <div class="section"></div>
                    <h6 id="greeting">Restrict User Access</h6>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin facilisis turpis, id rhoncus magna fermentum sed. Nunc vel venenatis mauris.
                    </p>

                </div>

                    <!------------------------------------- ROW2- Guide on Knowing ------------------------------------------->

        <div class="row">

                    <div class="col s12 white center" style="padding: 30px 50px 20px 50px;">
                        <div class="divider"></div>
                        <div class="section"></div>
                        <h4 id="greeting">About the Assigned Specialist</h4>

                        <div class="row center">

                            <div class ="col s4">

                                <h5>Dr. {{ patient_object.doctorid.userid.auth_user_id.first_name }} {{ patient_object.doctorid.userid.auth_user_id.last_name }}</h5>
                                Full Name of Specialist

                            </div>

                            <div class ="col s4">

                                <h5>{{ patient_object.doctorid.userid.contactno }}</h5>
                                Contact Number

                            </div>

                            <div class ="col s4">

                                <h5>{{ patient_object.doctorid.userid.auth_user_id.email }}</h5>
                                Email

                            </div>

                        </div>
                    </div>
                </div>
        </div>



{% endblock %}

