<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/HOMEPAGE.css' %}">

</head>

<link rel="icon" href="{% static 'img/Logo_Colored.png' %}">

<style>
    .notification-badge {
        position: relative;
        right: 5px;
        top: -20px;
        color: #fff8fd;
        background-color: #f50002;
        margin: 0 -.8em;
        border-radius: 50%;
        padding: 5px 10px;
    }
</style>


<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
    })
</script>

    <body>

        <!--------------------------------------------------------- START / NAV BAR --------------------------------------------------------->

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url "faqs" %}">Frequently Asked Questions</a></li>
          <li><a href="{% url "managepatientaccount" %}">Manage Account</a></li>
            <li><a href="{% url "viewhistoryofvitals" %}">View History of Records</a></li>
          <li><a href="{% url "restrictuseraccess" %}">Restrict User Access</a></li>
        </ul>
        <nav class="z-depth-0" style="padding: 0px 10px px 10px; background-color: rgba(255, 255, 255, 0.2);">
            <div class="nav-wrapper">
                <a href="{% url "home" %}" class="brand-logo"><img class="responsive-image" id="logo" src="{% static 'img/Logo_Colored_4.png' %}" style="margin-left: 10px;"></a>
                <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url "home" %}" class="white-text"><i class="material-icons left white-text">home</i>Homepage</a></li>
                    <li>
                        <a href="{% url 'notifications' %}" class="white-text" id="notifications">
                                <i class="material-icons left white-text" style="margin-right: 15px">notification_important</i>
                                <small style="display: none" class="notification-badge">5</small>
                                Notifications
                        </a>
                    </li>
                  <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons left">view_list</i>Modules<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{% url "index" %}" class="white-text"><i class="material-icons left white-text">input</i>Log Out</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
            <li><a href="{% url "home" %}" class="black-text"><i class="material-icons left black-text">home</i>Homepage</a></li>
            <li><a href="{% url "faqs" %}" class="black-text"><i class="material-icons left black-text">lock</i>Frequently Asked Questions</a></li>
            <li><a href="{% url "managepatientaccount" %}" class="black-text"><i class="material-icons left black-text">person</i>Manage Account</a></li>
            <li><a href="{% url "viewhistoryofvitals" %}" class="black-text"><i class="material-icons left black-text">description</i>View History of Records</a></li>
            <li><a href="{% url "restrictuseraccess" %}" class="black-text"><i class="material-icons left black-text">lock</i>Restrict User Access</a></li>
            <li><a href="{% url "index" %}" class="black-text"><i class="material-icons left black-text" >input</i>Log Out</a></li>
        </ul>


        <!------------------------------------------------------- BODY STARTS HERE ------------------------------------------------------------->

                    <!------------------------------------- ROW1- What to do? ------------------------------------------->

        {% block content %}
        {% endblock %}

        <!----------------------------------------------------- FOOTER STARTS HERE ----------------------------------------------------------->
            <footer class="page-footer" style="background-color: rgba(255, 255, 255, 0.3);">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="black-text">About OPHM</h5>
                    <p class="black-text">OPHM (Outpatient Heart Monitoring) is a system created to be enable outpatients to keep track of their vitals without the need of constantly visiting the hospital.</p>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container black-text">
                © 2018 All Rights Reserved
                </div>
              </div>
            </footer>
        </div>
    </body>
<script>
    $(document).ready(function() {
        $.ajax({
            url: '{% url 'get_notification_count' %}',
            data: {
            },
            dataType: 'json',
            success: function (data) {
                var notification = "";
                if(data[0] == 0){
                    notification = "<i class=\"material-icons left white-text\" style=\"margin-right: 15px\">notification_important</i>\n" +
                    "                                <small style=\"display: none\" class=\"notification-badge\">"+data[0]+"</small>\n" +
                    "                                Notifications";
                }
                else{
                    if(data[0] > 99){
                        notification = "<i class=\"material-icons left white-text\" style=\"margin-right: 10px\">notification_important</i>\n" +
                    "                                <small class=\"notification-badge\">99+</small>\n" +
                    "                                Notifications";
                    }
                    else{
                        notification = "<i class=\"material-icons left white-text\" style=\"margin-right: 10px\">notification_important</i>\n" +
                    "                                <small class=\"notification-badge\">"+data[0]+"</small>\n" +
                    "                                Notifications";
                    }
                }
                $("#notifications").html(notification);
            }
        });
    });
</script>
</html>