{% extends "home/patientHeaderFooter.html" %}
{% load staticfiles%}

{% block content %}
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/datatables.min.js"></script>

    <title>OPHM - Home</title>
    <div class ="white">
            <div class="row white">

                <div class="col s12 m12 l12 center">

                    <h3 id="greeting">Welcome, {{ user_details.auth_user_id.first_name }} {{ user_details.auth_user_id.last_name }}!</h3>
                    What do you want to do today?<br/>
                    <center><h5 id="warning" style="display: none; color: red"></h5></center>
                    <div class="divider"></div>

                </div>

            </div>

            <div class ="row white">
                {% if patient_device == -1 %}
                    <br>
                    <center><h5>You are not assigned to any recording device</h5></center>
                    <center>Click <a href="{% url 'viewhistoryofvitals' %}">here</a> to view previous records.</center>
                {% else %}
                    <div class="col s12 m12 l12  white">
                        {% if patient_device.ecg_set.last.timestamp is none %}
                            <center><h5>No recorded vitals!</h5></center>
                        {% else %}
                            <center><h4>Latest Recorded Vitals ({{ patient_device.ecg_set.last.timestamp|date:"F d, Y" }})</h4></center>
                            <div class="center col s12 m12 l12">
                                <h5><b><i class="material-icons">calendar_today</i> Summary of Recorded Vitals</b></h5>
                                <center><div id="loading" style="display: none">Loading</div></center>
                                <table class="highlight">
                                  <tbody>
                                        <tr>
                                            <th>Date: </th>
                                            <td id="dateModal"></td>
                                        </tr>

                                        <tr>
                                            <th>Device: </th>
                                            <td id="device"></td>
                                        </tr>

                                        <tr>
                                            <th>Min Temperature: </th>
                                            <td id="minTemperature"></td>
                                        </tr>

                                        <tr>
                                            <th>Max Temperature: </th>
                                            <td id="maxTemperature"></td>
                                        </tr>

                                        <tr>
                                            <th>Min Heart Rate: </th>
                                            <td id="minHeartRate"></td>
                                        </tr>

                                        <tr>
                                            <th>Max Heart Rate: </th>
                                            <td id="maxHeartRate"></td>
                                        </tr>

                                        <tr>
                                            <th>Average Temperature: </th>
                                            <td id="averageTemperature"></td>
                                        </tr>

                                        <tr>
                                            <th>Average Heart Rate: </th>
                                            <td id="averageHeartRate"></td>
                                        </tr>

                                        <tr>
                                            <th>Last Recording Time: </th>
                                            <td id="lastRecordingTime"></td>
                                        </tr>

                                        <tr>
                                            <th>Last Recorded Temperature: </th>
                                            <td id="lastRecordedTemperature"></td>
                                        </tr>

                                        <tr>
                                            <th>Last Recorded Heart Rate: </th>
                                            <td id="lastRecordedHeartRate"></td>
                                        </tr>

                                        <tr>
                                            <th>Times Recorded: </th>
                                            <td id="count"></td>
                                        </tr>
                                </tbody></table>
                                <br>
                            <a class="waves-effect waves-light btn" href="{% url 'viewhistoryofvitalvitalrecords' patient_device.patientdeviceid patient_device.ecg_set.last.timestamp|date:"Y-m-d" %}">View Full Results</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
    <div class="divider"></div>
            {% if patient_device != -1 %}
                <div class="row white center" style="padding: 30px 20px 20px 20px;">
                    <h4><b>Current Device Configurations</b></h4>
                    <h6><b>DEVICE NUMBER:</b> Device #{{ patient.currentdeviceid }}  |  <b>DATE OF DEVICE RETURN: </b> {{ patient.deadlinereturndate }}</h6>
                    <br>
                    <div class="col s12 m4 l4">

                            <h5>Duration per Recording:</h5><br>
                                <div id="patientDuration" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                                  <span class="teal-text"><b>{{ patient_device.recordingduration }} seconds</b></span>
                                </div>

                    </div>
                    <div class="col s12 m4 l4">
                            <h5>Min &amp; Max Temperature:</h5><br>
                            <div id="patientMinMaxTemperature" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                                <span class="teal-text"><b>{{ patient_device.mintemperature }}°C</b></span>
                                -
                                <span class="teal-text"><b>{{ patient_device.maxtemperature }}°C</b></span>
                            </div>

                    </div>
                    <div class="col s12 m4 l4">
                        <h5>Min &amp; Max Heart Rate:</h5><br>
                            <div id="patientMinMaxHeartRate" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                                <span class="teal-text"><b>{{ patient_device.minheartrate }} BPM</b></span>
                                -
                                <span class="teal-text"><b>{{ patient_device.maxheartrate }} BPM</b></span>
                            </div>

                    </div>
                </div>
                <div class="divider"></div>
                <div class="row white center" style="padding: 30px 20px 20px 20px;">

                    <div class="col s12 m6 l6">
                        <div id="schedules" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                        <big class="left"><b>Current Scheduled Recording:</b></big>
                            <table id="scheduleTable">
                                <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody id="scheduleTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <h5>Doctor Remarks:</h5><br>
                            <div id="remarks" class="teal lighten-5 z-depth-1" style="padding: 3.5%; border-radius: 10px;">
                                {% if patient_device.remarks != "" %}
                                    <span class="red-text"><b>{{ patient_device.remarks }}  </b></span>
                                {% else %}
                                    <span class="red-text"><b>N/A</b></span>
                                {% endif %}
                            </div>
                    </div>

                </div>
                <div class="divider"></div>

            {% endif %}
            <div class="row white center" style="padding: 30px 20px 20px 20px;">

                <h5><b><i class="material-icons">info</i> Guide to a Healthy Heart Rate and Temperature</b></h5><br>
                <div class="col s12 m1 l1"></div>
                <div class="col s12 m5 l5">
                    <h6 class="lighten-4 teal" style="padding:1%;"><b>Normal Heart Rate</b></h6>
                    <table class="centered">

                        <thead>

                            <tr>
                                <th>Age Range</th>
                                <th>Normal Heart Rate (bpm)</th>
                            </tr>

                        </thead>

                        <tr>

                            <td>0 - 1 month</td>
                            <td>70 - 190 bpm</td>

                        </tr>

                        <tr>

                            <td>1 - 11 months</td>
                            <td>80 - 160 bpm</td>

                        </tr>

                        <tr>

                            <td>1 - 2 years</td>
                            <td>80 - 130 bpm</td>

                        </tr>

                        <tr>

                            <td>3 - 4 years</td>
                            <td>80 - 120 bpm</td>

                        </tr>

                        <tr>

                            <td>5 - 6 years</td>
                            <td>75 - 115 bpm</td>

                        </tr>

                        <tr>

                            <td>7 - 9 years</td>
                            <td>70 - 110 bpm</td>

                        </tr>

                        <tr>

                            <td>Over 10 years</td>
                            <td>60 - 100 bpm</td>

                        </tr>

                    </table>

                </div>
                <div class="col s12 m5 l5">
                    <h6 class="lighten-3 teal" style="padding:1%;"><b>Normal Temperature</b></h6>
                    <table class="centered">
                        <thead>

                            <tr>

                                <th>Age Range</th>
                                <th>Normal Temperature (°C)</th>

                            </tr>

                        </thead>

                        <tr>

                            <td>Babies and Children</td>
                            <td>36.6 - 37.2°C</td>

                        </tr>

                        <tr>

                            <td>Adults</td>
                            <td>36.1 - 37.2°C</td>

                        </tr>

                        <tr>

                            <td>Adults over age 65</td>
                            <td>Lower than 37.2°C</td>

                        </tr>

                    </table>
                    <br><br>
                    <big><b class="left">NOTES:</b></big><br>
                    <ol>

                        <li class="left">The average normal body temperature of a person is 37°C. </li>
                        <li class="left">Your body’s ability to regulate temperature changes as you get older.</li>
                        <li class="left">Older people have more difficulty conserving heat.</li>

                    </ol>
                    <div class="right">
                        <br>
                        <small><i>Sources: <a href="https://www.medicalnewstoday.com/articles/235710.php">MedicalNewsToday.com</a> and <a href="https://www.healthline.com/health/what-is-normal-body-temperature#temperature-range">Healthline.com</a></i></small>
                    </div>
                        <li class="left"><b>For more information about how the device and the system works, click <a href="{% url 'faqs' %}">here</a> for the FAQs (Frequently Asked Questions) page</b></li>
                </div>
                <div class="col s12 m1 l1">
                </div>
            </div>
            <div class ="row white center" style="padding: 30px 20px 20px 20px;">
                <div class="divider"></div>
                <div class="section"></div>
                <h4>About the Assigned Specialist</h4>
                <div class ="col s12 m12 l4">

                    <h5>Dr. {{ patient_object.doctorid.userid.auth_user_id.first_name }} {{ patient_object.doctorid.userid.auth_user_id.last_name }}</h5>
                    Full Name of Specialist

                </div>
                <div class="col s12 m12 l4">

                    <h5>{{ patient_object.doctorid.userid.contactno }}</h5>
                    Contact Number

                </div>
                <div class="col s12 m12s l4">

                    <h5>{{ patient_object.doctorid.userid.auth_user_id.email }}</h5>
                    Email

                </div>

            </div>
        </div>

    <script>
        $(document).ready(function(){
            $(document).ajaxStart(function () {
                $("#loading").show();
            }).ajaxStop(function () {
                $("#loading").hide();
            });

            $.ajax({
                url: '{% url 'summary' %}',
                data: {
                  'patientDeviceID': '{{ patient_device.patientdeviceid }}',
                  'date': '{{ patient_device.ecg_set.last.timestamp|date:"Y-m-d" }}',
                },
                dataType: 'json',
                success: function (data) {
                    $("#dateModal").html(data[0].date);
                    $("#device").html(data[0].device);
                    $("#minTemperature").html(Math.round(parseFloat(data[0].min_temperature) * 100) / 100 + "°C (" + data[0].min_temperature_time + ")");
                    $("#maxTemperature").html(Math.round(parseFloat(data[0].max_temperature) * 100) / 100 + "°C (" + data[0].max_temperature_time + ")");
                    $("#minHeartRate").html(Math.round(parseFloat(data[0].min_heartrate) * 100) / 100 + " BPM (" + data[0].min_heartrate_time + ")");
                    $("#maxHeartRate").html(Math.round(parseFloat(data[0].max_heartrate) * 100) / 100 + " BPM (" + data[0].max_heartrate_time + ")");
                    $("#averageTemperature").html(Math.round(parseFloat(data[0].average_temperature) * 100) / 100 + "°C");
                    $("#averageHeartRate").html(Math.round(parseFloat(data[0].average_heartrate) * 100) / 100 + " BPM");
                    $("#lastRecordingTime").html(data[0].last_recorded_time);
                    $("#lastRecordedTemperature").html(data[0].latest_temperature + "°C");
                    $("#lastRecordedHeartRate").html(data[0].latest_heartrate + " BPM");
                    $("#count").html(data[0].batch_count);
                }
            });
            {% if daysbeforedeadline.days is not none %}
                var daysbeforedeadline = {{ daysbeforedeadline.days }};
                if(daysbeforedeadline != -999 && daysbeforedeadline != null)
                    if(daysbeforedeadline < 0){
                        daysbeforedeadline *= -1;

                        $("#warning").html('<b>RETURN DATE FOR DEVICE WAS ' + daysbeforedeadline + " DAYS AGO! PLEASE RETURN DEVICE AS SOON AS POSSIBLE!</b>");
                        $("#warning").show();
                    }
                    else if(daysbeforedeadline == 0)
                        M.toast({html: 'Please return the device today'});
                    else
                        M.toast({html: daysbeforedeadline + ' days before giving back the device'});
            {% endif %}

            $.ajax({
                url: '{% url 'get_schedule' %}',
                data: {
                  'patientdeviceid': {{ patient_device.patientdeviceid }}
                },
                dataType: 'json',
                success: function (data) {
                    var tableData = '';
                    if(data[0].patientscheduleid == -999){
                        $("#scheduleTable").html("No schedule set");
                    }
                    else{
                        for(var i = 0; i < data.length; i++){
                            tableData +="<tr>\n" +
                            "                                    <td>"+data[i].dayData+"</td>\n" +
                            "                                    <td>"+data[i].timesData+"</td>\n" +
                            "                                </tr>";
                        }
                        $("#scheduleTableBody").html(tableData);
                    }
                }
            });
        });
    </script>
{% endblock %}

